<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">Lean Six Sigma Black Belt Certification</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container courses">
    <div class="container-fluid">
        <div class="col-lg-8">
            <h2>Course Highlights</h2>
            <p>Six Sigma Black Belts will provide the valuable skills needed to tackle the toughest problems confronting your organization. By coupling the proven Define, Measure, Analyze, Improve, and Control (DMAIC) problem-solving methodology with robust statistical tools, Six Sigma offers a carefully defined roadmap for achieving business process improvements. Six Sigma Black Belt trainees obtain a solid understanding of the tools and methods associated with the Six Sigma approach.</p>
            <h2>Target Candidate</h2>
            <ul>
                <li>
                    <p>Engineers /Executives / Professionals working in different sectors seeking knowledge Six sigma as management tool for process improvement at their work place</p>
                </li>
                <li>
                    <p>Quality and Process Managers, Engineers and Executives who need to have a better understanding of Six Sigma and the application of Six Sigma in process / quality improvements</p>
                </li>
                <li>
                    <p>Production Managers, Production Supervisors and Customer Service Managers</p>
                </li>
                <li>
                    <p>Consultants who want to incorporate Six Sigma Black Belt in their service offerings and help their clients implement it</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 text-center"><img src="images/black_belt_main.png" alt=""></div>
        <div class="col-lg-12">
            <h2>Prerequisites</h2>
            <ul>
                <li>
                    <p>Diploma OR Graduation in the relevant field</p>
                </li>
                <li>
                    <p>Around Five (5) years in the field of Quality / Process Management</p>
                </li>
                <li>
                    <p>Should have attended minimum of 60 hours of class room Or</p>
                </li>
                <li>
                    <p>Should have under gone online training on six sigma for minimum of 60 hours And</p>
                </li>
                <li>
                    <p>Candidates with Certified six sigma green belt certificate</p>
                </li>
            </ul>
            <h2>Learning Objectives</h2>
            <ul>
                <li>
                    <p>Reliable assessment of your knowledge in Black Belt</p>
                </li>
                <li>
                    <p>Evaluation of your knowhow in practicing Black Belt</p>
                </li>
                <li>
                    <p>Provides an opportunity to improve your knowledge in Black Belt</p>
                </li>
                <li>
                    <p>Internationally recognized qualification</p>
                </li>
                <li>
                    <p>Endorsement of your skills in Black Belt implementation</p>
                </li>
            </ul>
            <h2>Course Outline</h2>
            <ul>
                <li>
                    <p>Introduction</p>
                    <ul>
                        <li>
                            <p>Six Sigma Introductory Overview</p>
                        </li>
                        <li>
                            <p>Project Selection</p>
                        </li>
                        <li>
                            <p>Process and Financial Metrics</p>
                        </li>
                        <li>
                            <p>Project Reporting Expectations</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Definition</p>
                    <ul>
                        <li>
                            <p>Project Charters</p>
                        </li>
                        <li>
                            <p>Estimating Financial Metrics</p>
                        </li>
                        <li>
                            <p>Definition of process outputs (characteristics, defects, defectives)</p>
                        </li>
                        <li>
                            <p>Process Mapping</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Basic Statistics</p>
                    <ul>
                        <li>
                            <p>Fundamental Statistical Measures</p>
                        </li>
                        <li>
                            <p>Control Charts</p>
                        </li>
                        <li>
                            <p>Common and Special Cause Improvement Strategies</p>
                        </li>
                        <li>
                            <p>Introduction to Minitab</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Measurement System Analysis</p>
                    <ul>
                        <li>
                            <p>Variable Gage R &amp; R</p>
                        </li>
                        <li>
                            <p>Attribute Agreement Analysis</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Process Capability Analysis</p>
                    <ul>
                        <li>
                            <p>Variables Data Capability Analysis</p>
                        </li>
                        <li>
                            <p>Attribute Agreement Analysis</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Quality Tools/Hypothesis Testing</p>
                    <ul>
                        <li>
                            <p>Quality Tools</p>
                        </li>
                        <li>
                            <p>Introduction to Hypothesis Testing</p>
                        </li>
                        <li>
                            <p>1 proportion Tests</p>
                        </li>
                        <li>
                            <p>2 proportion Tests</p>
                        </li>
                        <li>
                            <p>Chi Square Testing</p>
                        </li>
                        <li>
                            <p>T Tests</p>
                        </li>
                        <li>
                            <p>ANOVA</p>
                        </li>
                        <li>
                            <p>Correlation Analysis</p>
                        </li>
                        <li>
                            <p>Single Regression</p>
                        </li>
                        <li>
                            <p>Multiple Regression</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Design of Experiments (DOE)</p>
                    <ul>
                        <li>
                            <p>Introduction to Design of Experiments</p>
                        </li>
                        <li>
                            <p>Non Parametric tests and analysis</p>
                        </li>
                        <li>
                            <p>General Full Factorial Designs</p>
                        </li>
                        <li>
                            <p>Two-Level Factorial Designs</p>
                        </li>
                        <li>
                            <p>Three-Level Factorial Designs</p>
                        </li>
                        <li>
                            <p>Post-hoc Analysis</p>
                        </li>
                        <li>
                            <p>Fractional Factorials</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Improve and Control</p>
                    <ul>
                        <li>
                            <p>Solution Selection and Prioritization</p>
                        </li>
                        <li>
                            <p>Pilot Studies</p>
                        </li>
                        <li>
                            <p>Final Capability Analysis</p>
                        </li>
                        <li>
                            <p>Process Controls</p>
                        </li>
                        <li>
                            <p>Wrap-Up</p>
                        </li>
                    </ul>
                </li>
            </ul>
            <h2>Format of the Examination</h2>
            <ul>
                <li>
                    <p><b>Examination Format</b>: Multiple Choice</p>
                </li>
                <li>
                    <p><b>Number of Questions</b>: 150</p>
                </li>
                <li>
                    <p><b>Pass Percentage</b>: 70%</p>
                </li>
                <li>
                    <p><b>Delivery</b>: Online or Paper Based</p>
                </li>
                <li>
                    <p><b>Exam Duration</b>: Maximum 180 minutes </p>
                </li>
                <li>
                    <p><b>Open/Closed Book</b>: Closed Book</p>
                </li>
            </ul>
        </div>
    </div>
</div>