<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">Certified Associate in Project Management (CAPM)</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container">
    <div class="container">
        <div class="col-lg-8">
            <h2>Course Highlights</h2>
            <p>Certified Associate in Project Management is a leading globally acknowledged entry-level certification for project
                management professionals. CAPM<sup>®</sup> is offered by the Project Management Institute to the newcomers of project
                management profession demonstrating their fundamental knowledge and terminology and processes of project
                management.
            </p>
            <h2>Target Group</h2>
            <ul>
                <li>
                    <p>Individuals wishing to obtain an international credential demonstrating an understanding of the fundamental,
                        best practice, project management knowledge defined in the PMBOK</p>
                </li>
                <li>
                    <p>Entry level individuals wishing to enter the project management profession</p>
                </li>
                <li>
                    <p>Individuals looking to advance their standing as project management subject matter experts in their organizations</p>
                </li>
                <li>
                    <p>Individuals working in support of a project management office</p>
                </li>
                <li>
                    <p>Project stakeholders intending to serve as a sponsor, facilitator, liaison, or coordinator</p>
                </li>
                <li>
                    <p>Project managers desiring a professional certification, but lacking the experience requirements for the
                        PMP certification</p>
                </li>
                <li>
                    <p>Part-time project managers looking to formalize their project management skill-set and be recognized
                        for their project management knowledge</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 text-center" style="padding-top:15%;"><img src="images/capm_main.png" alt=""></div>
        <div class="col-lg-12">
            <h2>Prerequisites</h2>
            <p>The CAPM eligibility requirements are:</p>
            <ul>
                <li>
                    <p>High school diploma, associate’s degree, or global equivalent Plus</p>
                </li>
                <li>
                    <p>Either 23 hours of formal project management education or 1500 hours of project team experience</p>
                </li>
            </ul>
            <h2>Learning Objectives</h2>
            <p>Upon successful completion of this course, students will be able to apply the generally recognized practices
                of project management acknowledged by the Project Management Institute (PMI) to successfully manage projects.
                They will:</p>
            <ul>
                <li>
                    <p>Have a thorough understanding of PMI’s approach to project management</p>
                </li>
                <li>
                    <p>Understand how the CAPM exam is structured, and what kinds of questions will be asked</p>
                </li>
                <li>
                    <p>Be very familiar with all sections of the PMBOK</p>
                </li>
                <li>
                    <p>Possess various tricks, tips, techniques, and templates to help you retain information for the exam</p>
                </li>
            </ul>
            <h2>Course Outline</h2>
            <ul>
                <li>
                    <p>Introduction</p>
                </li>
                <li>
                    <p>Introduction to Project Management</p>
                </li>
                <li>
                    <p>Project Management Context</p>
                </li>
                <li>
                    <p>Project Management Processes</p>
                </li>
                <li>
                    <p>Project Integration Management</p>
                </li>
                <li>
                    <p>Project Scope Management</p>
                </li>
                <li>
                    <p>Project Time Management</p>
                </li>
                <li>
                    <p>Project Cost Management</p>
                </li>
                <li>
                    <p>Project Quality Management</p>
                </li>
                <li>
                    <p>Project Human Resource Management</p>
                </li>
                <li>
                    <p>Project Communications Management</p>
                </li>
                <li>
                    <p>Project Risk Management</p>
                </li>
                <li>
                    <p>Project Procurement Management</p>
                </li>
            </ul>
            <h2>Benefits to Participants</h2>
            <p>There are huge benefits by gaining CAPM Certification some of them includes the following:</p>
            <ul>
                <li>
                    <p>Professionals will gain skills to instigate the project</p>
                </li>
                <li>
                    <p>After receiving the CAPM Certification, candidate will be able to monitor, execute, control and complete
                        the project in the efficient way</p>
                </li>
                <li>
                    <p>Project preparation and planning can be done easily</p>
                </li>
                <li>
                    <p>You can motivate your project team</p>
                </li>
                <li>
                    <p>It helps in maintaining the Quality of the product in the project</p>
                </li>
                <li>
                    <p>If you are new to the Project Management, CAPM<sup>®</sup> certification helps you to grow your career and take
                        you in the right path</p>
                </li>
            </ul>
            <h2>Exams Structure</h2>
            <p>The CAPM Exam Comprises of 150 multiple choice questions. Out of these 150 questions 15 are considered as pretest
                questions. It means when you appear for the exam you will be asked to answer all the 150 questions but your
                final score will depend upon 135 correct answers. The pretest questions result will not be carried to your
                final score. The time allowed to complete the exam is 3 hours.</p>
            <p>Take a quick look on the draft on the percentage of questions you can expect to see in the exam from each chapter:</p>
            <p>PMBOK<sup><sup>®</sup></sup> Guide — Chapter Percentage of Questions:</p>
            <div class="col-lg-7">
                <table class="table table-striped table-hover" align="center">
                    <thead>
                        <tr>
                            <th>Chapter</th>
                            <th>Percentage of questions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3rd Chapter</td>
                            <td>15%</td>
                        </tr>
                        <tr>
                            <td>4th Chapter</td>
                            <td>12%</td>
                        </tr>
                        <tr>
                            <td>5th Chapter</td>
                            <td>11%</td>
                        </tr>
                        <tr>
                            <td>6th Chapter</td>
                            <td>12%</td>
                        </tr>
                        <tr>
                            <td>7th Chapter</td>
                            <td>7%</td>
                        </tr>
                        <tr>
                            <td>8th Chapter</td>
                            <td>6%</td>
                        </tr>
                        <tr>
                            <td>9th Chapter</td>
                            <td>8%</td>
                        </tr>
                        <tr>
                            <td>10th Chapter</td>
                            <td>6%</td>
                        </tr>
                        <tr>
                            <td>11th Chapter</td>
                            <td>9%</td>
                        </tr>
                        <tr>
                            <td>12th Chapter</td>
                            <td>7%</td>
                        </tr>
                        <tr>
                            <td>13th Chapter</td>
                            <td>7%</td>
                        </tr>
                        <tr>
                            <td>TOTAL</td>
                            <td>100%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>PMI does not disclose the passing score for the CAPM certification exam; moreover, I have also gone through the
                CAPM handbook to find the passing score for the CAPM exam, but no luck there</p>
            <p>It is a common perception that if you select correct answers for 61% of the questions, then you may pass the
                exam, but no one can guarantee the truthfulness of this claim.</p>
            <p>Therefore, I suggest you aim for at least 70% in your CAPM certification exam; i.e. 105 questions out of 150
                questions. Forget about the pretest questions because you cannot differentiate these questions from the rest.
                Therefore, consider all 150 questions as real test questions.</p>
            <div class="col-lg-12">
                <h2>Certification Expenses</h2>
                <p>Here is the structure of the expenses you might incur to obtain this prestigious certification.</p>
                <ul>
                    <li>
                        <p>Computer-based Testing (CBT) Fees:</p>
                        <ul>
                            <li>
                                <p>If you are a member of PMI then this fees will be $225.00</p>
                            </li>
                            <li>
                                <p>If you are not a member of PMI then it will cost you $300.00</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>Re-Examination Fees:</p>
                        <ul>
                            <li>
                                <p>If you are a member of PMI then this fees will be $150.00</p>
                            </li>
                            <li>
                                <p>If you are not a member of PMI then it will cost you $200.00</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>If you are not able to qualify the examination in the first attempt then you can give further attempts by
                    paying re-examination fees, as mentioned above.</p>
            </div>
        </div>
    </div>
</div>