<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size:3.2em;margin-top: 2em;">Certified Scrum Product Owner (CSPO)</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container courses">
    <div class="container-fluid">
        <div class="col-lg-8">
            <h2>Course Highlights</h2>
            <p>The Certified Scrum Product Owner
                 Certification from Scrum Alliance is a validation of your commitment to ongoing excellence in your
                Agile journey and makes you eligible to take on Product Owner responsibilities and lead successful projects.
                The Product Owner is the key member of the Scrum Team and shoulders the responsibility of leading the project
                strategically, collaborating with customers and team on a daily basis, and managing the business value.
            </p>
            <p>Our two-day Certified Scrum Product Owner training classes are delivered by Scrum Alliance Certified Trainers
                (CSTs) and combine classroom study, group discussions, and hands-on practice exercises. The program will
                provide you with a deep understanding of Scrum from the perspective of a Product Owner, enabling you to be
                an effective customer to the Scrum team and at the same time maximizing ROI.</p>
        </div>
        <div class="col-lg-4 text-center">
            <img src="images/cspo_main.png" alt="ITIL Continual Service Improvement">
        </div>
        <div class="col-lg-12">
            <h2>Target Audience</h2>
            <p>This course is aimed at everyone who is involved with Product Ownership in Scrum: Product Owners, business analysts,
                functional analysts, testers, product managers, marketing and sales people, business and IT management, etc.
                Since the Product Owner role overlaps with the typical responsibilities of a project manager, we highly encourage
                project managers and project leads to follow this course if they want to implement Scrum for their projects.
                And this course is also recommended for Scrum Masters that want to support and coach their Product Owner
                into doing a great job.</p>
            <h2>Prerequisites</h2>
            <p>It is desired that participants have basic knowledge of Agile to attend this course. In order to appear for the
                certification, candidates must present the 2-day CSPO course certificate, which will be provided by our trainers
                on successful completion of the course.</p>
            <h2>Course Outline</h2>
            <p>
                <b>Scrum Basics</b>
            </p>
            <ul>
                <li>
                    <p>Understand the Scrum Flow, the core components of the Scrum framework, and the Scrum vocabulary</p>
                </li>
                <li>
                    <p>Understand the principles/legs of empirical process control.</p>
                </li>
                <li>
                    <p>Understand the work culture Scrum creates</p>
                </li>
            </ul>
            <p>
                <b>Roles &amp; Responsibilities</b>
            </p>
            <ul>
                <li>
                    <p>Understand the scope of the Product Owner role in detail</p>
                </li>
                <li>
                    <p>Understand the scope of the Scrum Master role at a high level</p>
                </li>
                <li>
                    <p>Understand the scope of the Team role at a high level</p>
                </li>
                <li>
                    <p>Understand why there is no project manager and no agile product manager</p>
                </li>
            </ul>
            <p>
                <b>Product Vision</b>
            </p>
            <ul>
                <li>
                    <p>Understand the importance of having the product vision as an overarching goal galvanizing the entire
                        Scrum team</p>
                </li>
                <li>
                    <p>Understand the desirable qualities of the vision</p>
                </li>
                <li>
                    <p>Understand how the vision can be shaped</p>
                </li>
                <li>
                    <p>Understand the importance of carrying out just enough prep work</p>
                </li>
                <li>
                    <p>Understand the relationship between vision and product roadmap</p>
                </li>
            </ul>
            <p>
                <b>Estimating</b>
            </p>
            <ul>
                <li>
                    <p>Understand the different estimation levels in Scrum</p>
                </li>
                <li>
                    <p>Understand that the accuracy of an estimate is more important than the precision of the estimate</p>
                </li>
                <li>
                    <p>Understand that estimates of size and duration can be done separately</p>
                </li>
                <li>
                    <p>Understand the impact of pressuring team members to provide low estimates</p>
                </li>
                <li>
                    <p>Understand the difference between estimating and committing</p>
                </li>
            </ul>
            <p>
                <b>The Product Backlog</b>
            </p>
            <ul>
                <li>
                    <p>Understand what the product backlog is (and is not)</p>
                </li>
                <li>
                    <p>Understand product backlog grooming</p>
                </li>
            </ul>
            <p>
                <b>Prioritizing</b>
            </p>
            <ul>
                <li>
                    <p>Understand the importance and benefits of prioritizing the product backlog</p>
                </li>
                <li>
                    <p>Understand the implications of saying everything is mandatory</p>
                </li>
                <li>
                    <p>Understand who should have input into prioritization decisions</p>
                </li>
                <li>
                    <p>Understand that proper prioritization of a product backlog is based on multiple factors.</p>
                </li>
                <li>
                    <p>Understand and know how to apply formal approaches to prioritizing (i.e., beyond just “gut feel” or intuition)</p>
                </li>
                <li>
                    <p>Understand how much latitude to give a team in adjusting the sequence of work.</p>
                </li>
            </ul>
            <p>
                <b>Release Management</b>
            </p>
            <ul>
                <li>
                    <p>Understand the goal of release management</p>
                </li>
                <li>
                    <p>Understand that planning is adaptive, iterative, and collaborative</p>
                </li>
                <li>
                    <p>Understand why quality is frozen and the concept of technical debt</p>
                </li>
                <li>
                    <p>Understand why software should be released early and frequently</p>
                </li>
                <li>
                    <p>Understanding and measuring velocity</p>
                </li>
                <li>
                    <p>Understand the release burn down chart</p>
                </li>
                <li>
                    <p>Understand how a release plan can help forecast the future</p>
                </li>
            </ul>
            <p>
                <b>Sprints</b>
            </p>
            <ul>
                <li>
                    <p>Understand the product owner’s role in the Scrum meetings</p>
                </li>
                <li>
                    <p>Understand how the Product Owner and Development Team collaborate during the Sprint</p>
                </li>
                <li>
                    <p>Understand what team commitment means</p>
                </li>
                <li>
                    <p>Understand why sprints are time boxed and protected</p>
                </li>
                <li>
                    <p>Understand the concept of sustainable pace</p>
                </li>
            </ul>
            <h2>Learning Objectives</h2>
            <ul>
                <li>
                    <p>All the rules, artefacts, meetings and processes for Scrum</p>
                </li>
                <li>
                    <p>Why the Product Owner is such an important role, and how to be a great Product Owner</p>
                </li>
                <li>
                    <p>How to write user stories that drive innovative products</p>
                </li>
                <li>
                    <p>How to prioritize your backlog to create maximum ROI</p>
                </li>
                <li>
                    <p>Where to look for more information and how to get your questions answered</p>
                </li>
            </ul>
            <h2>On successful completion of the course, you’ll receive</h2>
            <ul>
                <li>
                    <p>Certified Scrum Product Owner Certification</p>
                </li>
                <li>
                    <p>Scrum Alliance membership for 2 years</p>
                </li>
                <li>
                    <p>16 SEUs and 16 PDUs</p>
                </li>
                <li>
                    <p>Hard Copy of Study Material as specified by Scrum Alliance</p>
                </li>
            </ul>
            <h2>Certification</h2>
            <p>On successful completion of an in-person, two day (16 hour) CSPO course taught by a Certified Scrum Trainer (such
                as this course), you will receive a Certificate from Scrum Alliance designating you as Certified Scrum Product
                Owner. The certification includes a two-year membership in Scrum Alliance.</p>
            <br>
        </div>
    </div>
</div>