<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">DevOps Master Course Content</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container courses">
    <div class="container-fluid">
        <div class="col-lg-8">
            <p>DevOps is an emerging set of principles, methods and practices for communication, collaboration and integration between software development (application/software engineering) and IT operations (systems administration/infrastructure) professionals. It has developed in response to the emerging understanding of the interdependence and importance of both the development and operations disciplines in meeting an organization's goal of rapidly producing software products and services. </p>
            <p>It aims at establishing a culture and environment where building, testing, and releasing software can happen rapidly, frequently, and more reliably. </p>
            <p>Companies that practice DevOps have reported significant benefits, including significantly shorter time-to-market, better product quality, more reliable releases, improved productivity and efficiency, and the increased ability to build the right product by fast experimentation</p>
            <h2>Summary</h2>
            <p>The word DevOps is a contraction of ‘Development’ and ‘Operations’. DevOps is a set of best practices that emphasize the collaboration and communication of IT-professionals (developers, operators, and support staff) in the lifecycle of applications and services, leading to:</p>
            <ul>
                <li>
                    <p>Continuous Integration: easy hand-off from Development to Operations and Support</p>
                </li>
                <li>
                    <p>Continuous Deployment: release continuously or as often as possible</p>
                </li>
                <li>
                    <p>Continuous Feedback: seek feedback from stakeholders during all lifecycle stages</p>
                </li>
            </ul>
            <p>DevOps changes how individuals think about their work; DevOps values the diversity of work done, supports intentional processes that accelerate the rate by which businesses realize value, and measures the effect of social and technical change. DevOps is a way of thinking and a way of working that enables individuals and organizations to develop and maintain sustainable work practices.</p>
        </div>
        <div class="col-lg-4 text-center" style="padding-top: 8%;"><img src="images/rcv_main.png" alt="quicklearnsys"></div>
        <div class="col-lg-12">
            <h2>Successful DevOps is:</h2>
            <ul>
                <li>
                    <p>Having a blame-free culture of sharing stories and developing empathy, enabling people and teams to practice their crafts in effective and lasting ways</p>
                </li>
                <li>
                    <p>Providing applications and services for the business Just-in-Time (JiT)</p>
                </li>
                <li>
                    <p>Ensuring continuity of IT services by a risk based approach of business needs</p>
                </li>
                <li>
                    <p>Managing the complete lifecycle of applications and services, including end-of-life conditions</p>
                </li>
            </ul>
            <p>This certification focuses on adding practical skills to knowledge, enabling a DevOps Master to facilitate DevOps successfully in a team and to promote its principles in the organization.</p>
            <h2>Target group</h2>
            <p>DevOps is best known in the field of software development, but the principles are applicable in IT Service projects and other projects as well. The DevOps Master training and certification is aimed at all professionals who want to update their knowledge with the latest development in ICT management.</p>
            <p>The EXIN DevOps Master certification is meant for anyone working within a DevOps team or in an organization that considers the transition to a DevOps way of working. The target group includes:</p>
            <p>Application or Service Developers and Product Owners, Agile Scrum Masters, Project Managers, Test Engineers, Test Managers, IT Service Managers, Process Managers and Lean IT Practitioners.</p>
            <h2>Course Content</h2>
            <p><b>DevOps Adoption</b></p>
            <ul>
                <li>
                    <p>What is DevOps?</p>
                </li>
                <li>
                    <p>Organizational Culture</p>
                </li>
                <li>
                    <p>Principles &amp; Concepts</p>
                </li>
            </ul>
            <p><b>Planning, Requirements, Design</b></p>
            <ul>
               <li>
                   <p>Application or Service Lifecycle Management</p>
               </li>
               <li>
                   <p>Project Charter (Defining Scope) &amp; Visual Control</p>
               </li>
               <li>
                   <p>Infrastructure and Architecture Design</p>
               </li>
               <li>
                   <p>Service Level Requirements and Agreements</p>
               </li>
               <li>
                   <p>Implementing a Testing Strategy: User Story, Test Story and Operation Story</p>
               </li>
            </ul>
            <p><b>Development and Deployment</b></p>
            <ul>
               <li>
                   <p>Continuous Delivery &amp; Continuous Integration</p>
               </li>
               <li>
                   <p>Deployment Pipeline</p>
               </li>
               <li>
                   <p>Continuous Deployment</p>
               </li>
               <li>
                   <p>Ji-Kotei-Kanketsu, Rhythm, Work-in-Progress and One-piece-flow</p>
               </li>
               <li>
                   <p>Automation , Tools and Testing</p>
               </li>
            </ul>
            <p><b>Operation and Scaling</b></p>
            <ul>
                <li>
                    <p>Managing Data; Infrastructure and Environments; and Components and Dependencies</p>
                </li>
                <li>
                    <p>Configuration Management and Version Control</p>
                </li>
                <li>
                    <p>Cloud and Immutable Infrastructure</p>
                </li>
                <li>
                    <p>Business Continuity</p>
                </li>
                <li>
                    <p>Scaling</p>
                </li>
            </ul>
            <p><b>End-of-Life</b></p>
            <ul>
                <li>
                    <p>Conditions for End-of-Life of a product or service</p>
                </li>
            </ul>
            <h2>Practical Assignment</h2>
            <p><b>Exam Details</b></p>
            <ul>
                <li>
                    <p>Type of Exam: Online Exam</p>
                </li>
                <li>
                    <p>Exam Duration: 120 minutes</p>
                </li>
                <li>
                    <p>Number of questions: 50</p>
                </li>
                <li>
                    <p>Pass mark: 65% (33 out of 50)</p>
                </li>
                <li>
                    <p>Open book/notes: no</p>
                </li>
                <li>
                    <p>Electronic equipment permitted: no</p>
                </li>
            </ul>
            <br>
        </div>
    </div>
</div>