<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">DevOps Foundation Certification Training</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container courses">
    <div class="container-fluid">
        <div class="col-lg-8">
            <h2>Summary</h2>
            <p>This course provides an introduction to DevOps – the cultural and professional movement that stresses communication,
                collaboration, integration and automation in order to improve the flow of work between software developers
                and IT operations professionals. Improved workflows will result in an improved ability to design, develop,
                deploy and operate software and services faster.</p>
        </div>
        <div class="col-lg-4 text-center" style="padding-top: 8%;">
            <img src="images/rcv_main.png" alt="quicklearnsys">
        </div>
        <div class="col-lg-12">
            <h2>Learning Objectives</h2>
            <ul>
                <li>
                    <p>DevOps objectives and vocabulary</p>
                </li>
                <li>
                    <p>Benefits to the business</p>
                </li>
                <li>
                    <p>Concepts and practices — including its relationship to Agile, Lean and IT Service Management (ITSM)</p>
                </li>
                <li>
                    <p>Improved workflows</p>
                </li>
                <li>
                    <p>Improved communication and feedback loops</p>
                </li>
                <li>
                    <p>Reliance on automation</p>
                </li>
                <li>
                    <p>Applying DevOps in an enterprise environment</p>
                </li>
                <li>
                    <p>Critical success factors and key performance indicators</p>
                </li>
                <li>
                    <p>Real-life examples and results</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-12">
            <h2>DevOps Certification Benefits to Individuals:</h2>
            <ul>
                <li>
                    <p>The DevOps® Foundation certification provides professionals with the introduction of DevOps® i.e. the
                        professional and cultural movement that focuses on collaboration, communication, automation and integration.</p>
                </li>
                <li>
                    <p>The DevOps® Foundation certification focuses on improving the work flow between IT Operations professionals
                        and software developers.</p>
                </li>
                <li>
                    <p>This certification through improved flow of work will improve a professional’s ability to design, develop,
                        deploy and operate software and deliver faster services. </p>
                </li>
                <li>
                    <p>Upon successfully clearing the DevOps® certification exam, an individual becomes DevOps® Professional.
                        In the current business environment, DevOps® Professional is a highly sought after designation especially
                        in the fields of automation and cloud infrastructure.</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-12">
            <h2>Target Audience</h2>
            <p>The DOI DevOps Foundation certification is meant for anyone working within a DevOps team or in an organization
                that considers the transition to a DevOps way of working. The target group includes: </p>
            <ul>
                <li>
                    <p>DevOps Engineer</p>
                </li>
                <li>
                    <p>Application or Service Developers and Product Owners</p>
                </li>
                <li>
                    <p>Agile Scrum Masters &amp; Project Managers</p>
                </li>
                <li>
                    <p>Test Engineers &amp; Managers</p>
                </li>
                <li>
                    <p>Architects</p>
                </li>
                <li>
                    <p>Operations Support</p>
                </li>
                <li>
                    <p>Development Managers</p>
                </li>
                <li>
                    <p>Project Managers</p>
                </li>
                <li>
                    <p>IT Service Managers </p>
                </li>
                <li>
                    <p>Process Managers and Lean IT Practitioner</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-12">
            <h2>COURSE CONTENT:</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center">DAY 1</th>
                        <th class="text-center">DAY 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Course Introduction</td>
                        <td>DevOps Organizational consideration</td>
                    </tr>
                    <tr>
                        <td>Why DevOps?</td>
                        <td>Promoting Collaboration</td>
                    </tr>
                    <tr>
                        <td>What is DevOps?</td>
                        <td>Improving Communication</td>
                    </tr>
                    <tr>
                        <td>DevOps and IT Performance</td>
                        <td>DevOps Practices</td>
                    </tr>
                    <tr>
                        <td>DevOps and Automation</td>
                        <td>DevOps Automation Practices</td>
                    </tr>
                    <tr>
                        <td>Measuring DevOps Success</td>
                        <td>DevOps Tool Chain</td>
                    </tr>
                    <tr>
                        <td>DevOps Principles</td>
                        <td>Adopting DevOps Culture</td>
                    </tr>
                    <tr>
                        <td>DevOps Patterns</td>
                        <td>Practical Exercises to start DevOps Journey</td>
                    </tr>
                    <tr>
                        <td>DevOps and other Frameworks</td>
                        <td>Discussion Summary and Next Steps</td>
                    </tr>
                    <tr>
                        <td>DevOps Culture</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-12">
            <h2>Pre-requisite &amp; Exam Details</h2>
            <p><b>Pre-requisite: </b>None</p>
            <p><b>Exam Type: </b>Online Exam having Fifty (40) multiple choice questions. Each question will have 4 options, one of which is right carrying 1 mark.</p>
            <ul>
                <li>
                    <p>Multiple choice</p>
                </li>
                <li>
                    <p>40 questions per paper</p>
                </li>
                <li>
                    <p>26 marks required to pass (out of 40 available) - 65%</p>
                </li>
                <li>
                    <p>60 minutes duration</p>
                </li>
                <li>
                    <p>Closed book</p>
                </li>
            </ul>
        </div>
    </div>
</div>