<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">Lean Six Sigma Green Belt Certification</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container courses">
    <div class="container-fluid">
        <div class="col-lg-8">
            <h2>Course Highlights</h2>
            <p>Six Sigma is a set of tools and techniques for process improvement by removing the cause defects and minimizing variability in manufacturing and business process.  There are various levels of certifications which are offered in Six Sigma like Green Belt, Black Belt etc. Six Sigma Green Belt training helps you to demonstrate Six Sigma tools and process.</p>
            <h2>Target Candidate</h2>
            <ul>
                <li>
                    <p>Engineers /Executives/Professionals working in different sectors seeking knowledge six sigma as management tool for process improvement at their work place</p>
                </li>
                <li>
                    <p>Quality and Process Managers, Engineers and Executives who need to have a better understanding of Six Sigma and the application of Six Sigma in process / quality improvements</p>
                </li>
                <li>
                    <p>Production Managers, Production Supervisors and Customer Service Managers</p>
                </li>
                <li>
                    <p>Consultants who want to incorporate Six Sigma Green Belt in their service offerings and help their clients implement it</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 text-center"><img src="images/green_belt_main.png" alt="quicklearnsys"></div>
        <div class="col-lg-12">
            <h2>Prerequisites</h2>
            <ul>
                <li>
                    <p>Certification candidate is expected to have minimum three years of work experience</p>
                </li>
                <li>
                    <p>Should have attended minimum of 24 hours of class room training provided by Authorized training partner or</p>
                </li>
                <li>
                    <p>Should have under gone online training on six sigma for minimum of 21 hours engagement through any or Certified E–Learning module  or</p>
                </li>
                <li>
                    <p>Candidates with Certified yellow Belt certificate</p>
                </li>
            </ul>
            <h2>Learning Objectives</h2>
            <ul>
                <li>
                    <p>Understand the value of Six Sigma</p>
                </li>
                <li>
                    <p>Understand organizational drivers and metrics</p>
                </li>
                <li>
                    <p>Understand Organizational goals and six sigma projects</p>
                </li>
                <li>
                    <p>Understand the lean principles in the organization</p>
                </li>
                <li>
                    <p>Understand how Quality Function Deployment fits into DFSS process</p>
                </li>
                <li>
                    <p>Analyze the difference between DFMEA and PFMEA</p>
                </li>
                <li>
                    <p>Understand the road map for DFSS (Design for Six Sigma)</p>
                </li>
                <li>
                    <p>Analyze the process elements (Recognize how processes cross various functional areas and the challenges that result for process improvement efforts)</p>
                </li>
                <li>
                    <p>Learn to identify process owners, internal and external customers, and other stakeholders in a project</p>
                </li>
                <li>
                    <p>Learn to identify how projects impacts the customers</p>
                </li>
                <li>
                    <p>To identify various methods for collecting the feedback of the customers</p>
                </li>
                <li>
                    <p>Learn to use graphical, statistical and qualitative tools</p>
                </li>
                <li>
                    <p>Learn to convert customer feedbacks into project goals and objectives</p>
                </li>
            </ul>
            <h2>Course Outline</h2>
            <ul>
                <li>
                    <p>Introduction and Overview of Six Sigma </p>
                    <ul>
                        <li>
                            <p>Value of Six Sigma</p>
                        </li>
                        <li>
                            <p>Organizational drivers and metrics</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Define</p>
                    <ul>
                        <li>
                            <p>Process elements</p>
                        </li>
                        <li>
                            <p>Owners and stakeholders</p>
                        </li>
                        <li>
                            <p>Identify Customers &amp; Customer Segmentation</p>
                        </li>
                        <li>
                            <p>Collect &amp; Classify Customer data</p>
                        </li>
                        <li>
                            <p>Translate Customer requirements</p>
                        </li>
                        <li>
                            <p>Project Identification &amp; Planning tools</p>
                        </li>
                        <li>
                            <p>Organizational goals and six sigma projects</p>
                        </li>
                        <li>
                            <p>Project Charter &amp; Project Metrics</p>
                        </li>
                        <li>
                            <p>Team stages and DMAIC</p>
                        </li>
                        <li>
                            <p>Six sigma - team roles and responsibilities</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Measure</p>
                    <ul>
                        <li>
                            <p>Process Mapping</p>
                        </li>
                        <li>
                            <p>Process inputs and outputs</p>
                        </li>
                        <li>
                            <p>Probability and statistics</p>
                        </li>
                        <li>
                            <p>Basic probability concepts</p>
                        </li>
                        <li>
                            <p>Types of data and measurement scales</p>
                        </li>
                        <li>
                            <p>Data collection methods</p>
                        </li>
                        <li>
                            <p>Techniques for assuring data accuracy and integrity</p>
                        </li>
                        <li>
                            <p>Descriptive statistics</p>
                        </li>
                        <li>
                            <p>Graphical methods</p>
                        </li>
                        <li>
                            <p>Probability distributions</p>
                        </li>
                        <li>
                            <p>Central limit theorem and sampling distribution of the mean</p>
                        </li>
                        <li>
                            <p>Measurement system analysis</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Analyze</p>
                    <ul>
                        <li>
                            <p>Cause Analysis</p>
                        </li>
                        <li>
                            <p>Failure Mode and Effects Analysis (FMEA)</p>
                        </li>
                        <li>
                            <p>Run Charts</p>
                        </li>
                        <li>
                            <p>Multi-Vari studies</p>
                        </li>
                        <li>
                            <p>Simple linear correlation and regression</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Improve and Control</p>
                    <ul>
                        <li>
                            <p>Process capability and performance</p>
                        </li>
                        <li>
                            <p>Process performance vs. specification</p>
                        </li>
                        <li>
                            <p>Process capability indices</p>
                        </li>
                        <li>
                            <p>Process performance indices</p>
                        </li>
                        <li>
                            <p>Short-term vs. long-term capability</p>
                        </li>
                        <li>
                            <p>Process capability for attributes data</p>
                        </li>
                        <li>
                            <p>Compute the sigma level for a process and describe its relationship to PPK</p>
                        </li>
                        <li>
                            <p>Statistical Process Control (SPC)</p>
                        </li>
                        <li>
                            <p>Selection and application of Control Charts</p>
                        </li>
                        <li>
                            <p>Analysis of control charts</p>
                        </li>
                        <li>
                            <p>1 Control plans, SOPs, Work Instructions</p>
                        </li>
                    </ul>
                </li>
            </ul>
            <h2>Format of the Examination</h2>
            <ul>
                <li>
                    <p><b>Examination Format</b>: Multiple Choice</p>
                </li>
                <li>
                    <p><b>Number of Questions</b>: 75</p>
                </li>
                <li>
                    <p><b>Pass Percentage</b>: 70%</p>
                </li>
                <li>
                    <p><b>Delivery</b>: Online or Paper Based</p>
                </li>
                <li>
                    <p><b>Exam Duration</b>: Maximum 120 minutes </p>
                </li>
                <li>
                    <p><b>Open/Closed Book</b>: Closed Book</p>
                </li>
            </ul>
        </div>
    </div>
</div>