<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">ITIL Intermediate Level</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container">
    <div class="container">
        <div class="col-lg-8">
            <h2>ITIL Intermediate Level</h2>
            <p>The Intermediate level certification is the next stage, following Foundation, in the ITIL® scheme. It has a modular structure with each module providing a different focus on IT Service Management. You can take as few or as many Intermediate qualifications as you need. The Intermediate modules go into more detail than the Foundation level, and provide an industry-recognized certification.</p>
            <p>The modules within the ITIL Intermediate level are divided into two categories – Service Lifecycle and Service Capability.</p>
            <p>Some may wish to concentrate on one set of modules, but you can choose to select modules from both the Service Lifecycle and Service Capability streams in order to combine management and technical knowledge.</p>
            <p>It is recommended that you have prior exposure to basic concepts in IT and at least two years’ professional experience working in IT Service Management before undertaking any of the ITIL Intermediary modules.</p>
            <p>In order to complete the Intermediate level, you need to attend training run by one of our Accredited Training Organizations. You cannot self-study and then take the examinations.</p>
        </div>
        <div class="col-lg-4 text-center"><img src="images/ITIL-Intermediate_main.png" alt="ITIL Intermediate Level"></div>
    </div>
    <div class="container">
        <h2>Service Lifecycle modules</h2>
        <p>Service Lifecycle modules are most relevant to those who have, or are looking for, a management or team leader role that requires management of different areas or work across different teams.</p>
        <p>All the modules within the Service Lifecycle category are suitable for those intending to focus on the process and practice elements used, and the management capabilities needed to deliver quality Service Management practices.</p>
        <p>The Service Lifecycle modules are:</p>
        <ul>
            <li>
                <p><a ui-sref="app.users.service_strategy">Service Strategy (SS)</a></p>
            </li>
            <li>
                <p><a ui-sref="app.users.service_design">Service Design (SD)</a></p>
            </li>
            <li>
                <p><a ui-sref="app.users.service_transition">Service Transition (ST)</a></p>
            </li>
            <li>
                <p><a ui-sref="app.users.service_operation">Service Operation (SO)</a></p>
            </li>
            <li>
                <p><a ui-sref="app.users.continual_service">Continual Service Improvement (CSI)</a></p>
            </li>
        </ul>
        <h2>Service Capability modules</h2>
        <p>The Service Capability modules are most applicable to those who are looking to gain specialized, knowledge in one or more processes, with focus on the day-to-day execution of ITIL practices and how they interact.</p>
        <p>The Service Capability modules are:</p>
        <ul>
            <li>
                <p><a ui-sref="app.users.osa">Operational Support and Analysis (OSA)</a></p>
            </li>
            <li>
                <p><a ui-sref="app.users.ppo">Planning, Protection and Optimization (PPO)</a></p>
            </li>
            <li>
                <p><a ui-sref="app.users.rcv">Release, Control and Validation (RCV)</a></p>
            </li>
            <li>
                <p><a ui-sref="app.users.soa">Service Offerings and Agreements (SOA)</a></p>
            </li>
        </ul>
        <h2>ITIL managing Across the Lifecycle Qualification</h2>
        <p>The <a ui-sref="app.users.malc" class="link">ITIL Managing across the Lifecycle Qualification</a> completes the Intermediate stream. This particular module is aimed at those candidates interested in achieving ITIL Expert Level, for which this module is a key requirement.</p>
    </div>
</div>