<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">The ITIL Expert Qualification</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container courses">
    <div class="container-fluid">
        <div class="col-lg-8">
            <h2>Managing across the Lifecycle (MALC)</h2>
            <p>The intent of the Managing across the Lifecycle (MALC) qualification is to give candidates the skills to support an organization’s service delivery by bridging the service lifecycle stages. The qualification demonstrates that candidates have learned the value of one combined service management practice as opposed to separate subject areas. ITIL processes and practices, as learnt from the lifecycle and capability streams of the intermediate certificates, are put into a context of delivering this value.</p>
            <p>The learning outcomes are intended to bring a candidate from ITIL content knowledge to ITIL content application and integration knowledge, and provide skills that can be used in the workplace in a tangible way. Testing and validation of knowledge take place at Bloom's taxonomy level 4 (analyzing) and level 5 (evaluating), reflecting the focus on integration when compared with the ITIL intermediate qualifications.</p>
            <p>While MALC encompasses the broadest perspectives of service management skills, for example those related to project management and application design, it is not intended to teach these practices, rather to refer to them as contexts for ITIL application. A high-level understanding of these is still expected.</p>
            <p>This qualification focuses on strategizing, planning, using and measuring ITIL practices in an integrated functioning model:</p>
            <ul>
                <li>
                    <p>How the service lifecycle stages form an integrated whole</p>
                </li>
                <li>
                    <p>Process integration and interfaces</p>
                </li>
                <li>
                    <p>Shared data / information / knowledge</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 text-center" style="padding-top:3%"><img src="images/malc_main.png" alt=""></div>
        <div class="col-lg-12">
            <h2>Target Candidates</h2>
            <p>The qualification prepares candidates to work in established service management roles, as well as to implement and improve service management practices. The target group for the MALC qualification includes, but is not limited to:</p>
            <ul>
                <li>
                    <p>Chief information officers, Senior IT managers, IT managers, Supervisors, IT professionals, IT operations practitioners, IT development practitioners</p>
                </li>
                <li>
                    <p>Individuals who require a business and management level understanding of the ITIL service lifecycle and how it may be implemented to enhance the quality of IT service provision within an organization</p>
                </li>
                <li>
                    <p>Individuals seeking the ITIL Expert in IT Service Management certificate, for which this qualification is the final mandatory module</p>
                </li>
                <li>
                    <p>Individuals seeking progress towards the ITIL Master in IT Service Management, for which the ITIL Expert in IT Service Management certificate is a prerequisite</p>
                </li>
            </ul>
            <h2>Prerequisites</h2>
            <ul>
                <li>
                    <p>Candidates wishing to be trained and examined for this qualification must already have two (2) credits from the ITIL Foundation certificate and must, as a minimum, have obtained a further 15 credits to a total of at least 17 credits. 15 credits can be obtained from ITIL Intermediate qualifications. Some credits from earlier ITIL qualifications and complementary qualifications can also count towards 15 credits. Holders of ITIL Expert Certificate in IT Service Management are also eligible. Documentary evidence of all credits must be presented by candidates for the MALC qualification</p>
                </li>
                <li>
                    <p>In addition to the prerequisite entry criteria, in order to be eligible for the MALC examination candidates must have fulfilled the following requirements</p>
                </li>
                <li>
                    <p>Candidates must have undertaken at least 30 contact hours for this syllabus as part of a formal, approved training course/scheme. Contact hours are hours of instruction, excluding breaks, with an accredited training organization (ATO) or an accredited e-learning solution</p>
                </li>
                <li>
                    <p>It is also recommended that candidates should complete at least 28 hours of personal study by reviewing foundation and intermediate level knowledge, for example the terms within the terminology list at the end of this and anywhere in the foundation syllabus, and by reviewing the syllabus and the ITIL core publications in preparation for the examination</p>
                </li>
            </ul>
            <h2>Learning Objectives</h2>
            <ul>
                <li>
                    <p>Introduction to IT Service Management Business & Managerial Issues</p>
                </li>
                <li>
                    <p>Managing the Planning and Implementation of IT Service Management</p>
                </li>
                <li>
                    <p>Management of Strategic Change</p>
                </li>
                <li>
                    <p>Risk Management</p>
                </li>
                <li>
                    <p>Managerial Functions</p>
                </li>
                <li>
                    <p>Understanding Organizational Challenges</p>
                </li>
                <li>
                    <p>Lifecycle Project Assessment</p>
                </li>
                <li>
                    <p>Understanding Complementary Industry Guidance</p>
                </li>
            </ul>
            <h2>Course Outline</h2>
            <ul>
                <li>
                    <p>Introduction to Managing Across the Lifecycle</p>
                </li>
                <li>
                    <p>Key Concepts of the Service Lifecycle</p>
                </li>
                <li>
                    <p>Communication and Stakeholder Management</p>
                </li>
                <li>
                    <p>Integrating Service Management Processes Across the Service Lifecycle</p>
                </li>
                <li>
                    <p>Managing Service Across the Lifecycle</p>
                </li>
                <li>
                    <p>Governance, Roles, People, Competence, and the Organization</p>
                </li>
                <li>
                    <p>Measurement</p>
                </li>
                <li>
                    <p>Implementing and Improving Service Management Capabilities</p>
                </li>
            </ul>
            <p>In addition, the training for this qualification should include examination preparation, including a mock examination opportunity.</p>
            <h2>Format of the Examination</h2>
            <ul>
                <li>
                    <p><b>Examination Format</b>: - Scenario Based</p>
                </li>
                <li>
                    <p><b>Number of Questions</b>: 10</p>
                </li>
                <li>
                    <p><b>Duration</b>: Max 120 Minutes</p>
                </li>
                <li>
                    <p><b>Pass Percentage</b>: 70%</p>
                </li>
                <li>
                    <p><b>Delivery</b>: Online or Paper Based</p>
                </li>
                <li>
                    <p><b>Open/Closed Book</b>: Closed Book</p>
                </li>
            </ul>
        </div>
    </div>
</div>