<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">Managing Successful Programmes</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container courses">
    <div class="container-fluid">
        <div class="col-lg-8">
            <h2>Course Highlights</h2>
            <p>Managing Successful Programmes is a methodology that comprises a set of principles and processes for use when
                managing a programme. A programme is made up of a specific set of projects identified by an organisation
                that together will deliver some defined objective, or set of objectives, for the organisation. The objectives,
                or goals, of the programme are typically at a strategic level so that the organisation can achieve benefits
                and improvements in its business operation.</p>
            <p>MSP represents proven programme management best practice in the successful delivery of transformational change
                through the application of programme management. MSP is very flexible and designed to be adapted to meet
                the needs of local circumstances.</p>
            <p>The MSP framework is based on three core concepts:</p>
            <ul>
                <li>
                    <p><b>MSP Principles</b>. These are derived from positive and negative lessons learned from programme experiences.
                        They are the common factors that underpin the success of any transformational change</p>
                </li>
                <li>
                    <p><b>MSP Governance Themes</b>. These define an organization's approach to programme management. They allow
                        an organization to put in place the right leadership, delivery team, organization structures and
                        controls, giving the best chance for success</p>
                </li>
                <li>
                    <p><b>MSP Transformational Flow</b>. This provides a route through the lifecycle of a programme from its
                        conception through to the delivery of the new capability, outcomes and benefits.</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 text-center"><img src="images/msp_main.png" alt=""></div>
        <div class="col-lg-12">
            <h2>Target Group </h2>
            <p>Ideally, participants should possess a basic awareness of the principles of Programme Management. Typical attendees
                include: Programme Managers and Directors, Programme/Project Support Staff who undertake roles in Programmes,
                Managers involved in Business Change and all staff seeking a professional qualification in Programme Management</p>
            <h2>Prerequisites</h2>
            <p>The course is open to anyone who is managing a number of projects and is interested in programme and project
                management or in a position where programme management is an important aspect of their role.</p>
            <h2>Learning Objectives</h2>
            <ul>
                <li>
                    <p>Participants will show their ability to describe the need for programme management</p>
                </li>
                <li>
                    <p>Describe the overall responsibility of the programme team</p>
                </li>
                <li>
                    <p>Demonstrate the role of programmes in delivering business change and</p>
                </li>
                <li>
                    <p>Define the fundamental importance of the Governance Themes</p>
                </li>
            </ul>
            <h2>Course Outline</h2>
            <p>This course includes, but is not limited to:</p>
            <ul>
                <li>
                    <p>Programme management principles </p>
                </li>
                <li>
                    <p>Governance themes</p>
                </li>
                <li>
                    <p>Determining if a change warrants a programme approach and whether it is worthwhile doing</p>
                </li>
                <li>
                    <p>Benefits management</p>
                </li>
                <li>
                    <p>Leadership &amp; stakeholder engagement</p>
                </li>
                <li>
                    <p>Risk and issue management</p>
                </li>
                <li>
                    <p>Transformational flow processes</p>
                </li>
                <li>
                    <p>Identifying &amp; defining a programme</p>
                </li>
                <li>
                    <p>Managing the tranches</p>
                </li>
                <li>
                    <p>Delivering the capability and realising the benefits</p>
                </li>
                <li>
                    <p>Closing a programme </p>
                </li>
            </ul>
            <p><b>Please note</b>: To assist your learning there is some pre-course reading and activities that must be completed
                prior to attending your course. In addition whilst attending your course there will also be some examination
                preparation evening work .</p>
            <h2>Benefits to Participants</h2>
            <ul>
                <li>
                    <p>Utilize best practice in programme management to successfully deliver transformational change</p>
                </li>
                <li>
                    <p>carry out the coordinated organisation, direction and implementation of a dossier of projects and transformation
                        activities to achieve outcomes and realize benefits of strategic importance to the business</p>
                </li>
                <li>
                    <p>manage the transition of the solutions developed and delivered by projects into the organization’s operations,
                        while maintaining performance and effectiveness</p>
                </li>
                <li>
                    <p>encourage realistic expectations of the organisational capacity and ability to change</p>
                </li>
                <li>
                    <p>lead business transformation accommodating high levels of complexity, ambiguity and risk</p>
                </li>
            </ul>
            <h2>Foundation Level</h2>
            <p>The purpose of the foundation level is to confirm you have sufficient knowledge and understanding of the MSP
                guidance to interact effectively with those involved in the management of a programme or act as an informed
                member of a Programme office team, business change team or project delivery team working within an environment
                supporting MSP. The foundation qualification is also a pre-requisite for the practitioner certification.</p>
            <p><b>Exam Format</b></p>
            <ul>
                <li>
                    <p>Multiple choice</p>
                </li>
                <li>
                    <p>75 questions per paper with 1 mark available per question</p>
                </li>
                <li>
                    <p>5 questions to be trial and not counted in scores</p>
                </li>
                <li>
                    <p>35 marks required to pass (out of 70 available) - 50%</p>
                </li>
                <li>
                    <p>60 minutes duration</p>
                </li>
                <li>
                    <p>Closed book.</p>
                </li>
            </ul>
            <h2>Practitioner Level</h2>
            <p>The purpose of the practitioner level is to confirm you have sufficient knowledge and understanding of the MSP
                guidance to act as an informed member of a programme management team. This level is also required for programme
                management professionals progressing toward the advanced practitioner certification, and those aspiring to
                become programme management professionals in the future.</p>
            <p><b>Exam Format</b></p>
            <ul>
                <li>
                    <p>Objective testing</p>
                </li>
                <li>
                    <p>8 questions per paper</p>
                </li>
                <li>
                    <p>40 marks required to pass (out of 80 available) - 50%</p>
                </li>
                <li>
                    <p>Two-and-a-half hours duration</p>
                </li>
                <li>
                    <p>Open-book (only the MSP Guide is allowed)</p>
                </li>
            </ul>
            <h2>Advanced Practitioner Level</h2>
            <p>The purpose of the advanced practitioner level is to confirm you could lead a programme of transformational change.</p>
            <p><b>Exam Format</b></p>
            <ul>
                <li>
                    <p>Essay based</p>
                </li>
                <li>
                    <p>up to 3 questions per paper, 75 marks available in total</p>
                </li>
                <li>
                    <p>38 marks required to pass (out of 75 available) - 50%</p>
                </li>
                <li>
                    <p>Three hours duration</p>
                </li>
            </ul>
            <p>Open-book (other material in the form of course notes, examples, copies of presentations, etc. can be used during
                this examination but no electronic aids, such as laptops, may be used).</p>
        </div>
    </div>
</div>