<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">ITIL Intermediate OSA Training & Certification</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container courses">
    <div class="container-fluid">
        <div class="col-lg-8">
            <h2>The ITIL Intermediate Qualification</h2>
            <p>Operational Support and Analysis (OSA) Certificate is a freestanding qualification but is also part of the ITIL Intermediate Capability stream, and one of the modules that leads to the ITIL Expert Certificate in IT Service Management. The purpose of this training module and the associated exam and certificate is, respectively, to impart, test, and validate the knowledge on industry practices in service management as documented in the ITIL Service Lifecycle core publications. The ITIL Certificate in Operational Support and Analysis is intended to enable the holders of the certificate to apply OSA practices in resolution and support of the service management lifecycle and specifically in the following key ITIL process, role and function areas:</p>
            <h2>The main process focus areas of this course include:</h2>
            <ul>
                <li>
                    <p>Event management</p>
                </li>
                <li>
                    <p>Incident management</p>
                </li>
                <li>
                    <p>Request fulfillment</p>
                </li>
                <li>
                    <p>Problem management</p>
                </li>
                <li>
                    <p>Access management</p>
                </li>
            </ul>
            <h2>The organizational functions focused on in this course include:</h2>
            <ul>
                <li>
                    <p>Service desk</p>
                </li>
                <li>
                    <p>Technical management</p>
                </li>
                <li>
                    <p>IT operations management</p>
                </li>
                <li>
                    <p>Application management</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 text-center"><img src="images/osa_main.png" alt="Operational Support And Analysis"></div>
        <div class="col-lg-12">
            <h2>Target Candidate</h2>
            <ul>
                <li>
                    <p>Individuals who have attained the ITIL Foundation certificate in Service Management and who wish to advance to higher level ITIL certifications</p>
                </li>
                <li>
                    <p>Individuals who require a deep understanding of ITIL Certificate in Operational Support and Analysis processes and how it may be used to enhance the quality of IT service support within an organisation</p>
                </li>
                <li>
                    <p>IT professionals that are working within an organisation that has adopted and adapted ITIL who need to be informed about and thereafter contribute to an ongoing service improvement programme</p>
                </li>
                <li>
                    <p>Operational staff involved in Event Management Process, Incident Management Process, Request Fulfilment Process, Problem Management Process, Access Management Process, Service Desk, Technical Management, IT Operations Management and Application Management</p>
                </li>
                <p>This may include but is not limited to, IT professionals, business managers and business process owners.</p>
            </ul>
            <h2>Prerequisites</h2>
            <ul>
                <li>
                    <p>Candidates wishing to be trained and examined for this qualification must already hold the ITIL Foundation Certificate in IT Service Management, which shall be presented as documentary evidence to gain admission</p>
                </li>
                <li>
                    <p>At least 30 contact hours (hours of instruction, excluding breaks, with an Accredited Training Organisation (ATO) or an accredited e-learning solution) for this syllabus, as part of a formal, approved training course/scheme</p>
                </li>
                <li>
                    <p>There is no minimum mandatory requirement but 2 to 4 years professional experience working in IT Service Management is highly desirable</p>
                </li>
                <li>
                    <p>Hold the ITIL Foundation Certificate in IT Service Management</p>
                </li>
                <li>
                    <p>It is also recommended that students should complete at a minimum 12 hours of personal study by reviewing the syllabus and the pertinent areas of the ITIL Service Management Practice core guidance publications and in particular, the Service Operation publication</p>
                </li>
            </ul>
            <h2>Learning Objectives</h2>
            <ul>
                <li>
                    <p>The importance of Service Management as a Practice concept and Operational Support and Analysis Principles, purpose and objectives</p>
                </li>
                <li>
                    <p>The importance of ITIL Operational Support and Analysis while providing service</p>
                </li>
                <li>
                    <p>How all processes in ITIL Operational Support and Analysis interact with other Service Lifecycle processes</p>
                </li>
                <li>
                    <p>The processes, activities, methods and functions used in each of the ITIL Operational Support and Analysis processes</p>
                </li>
                <li>
                    <p>How to use the ITIL Operational Support and Analysis processes, activities and functions to achieve operational excellence</p>
                </li>
                <li>
                    <p>How to measure ITIL Operational Support and Analysis</p>
                </li>
                <li>
                    <p>The importance of IT Security and its contributions to ITIL Operational Support and Analysis</p>
                </li>
                <li>
                    <p>Understanding the technology and implementation considerations surrounding ITIL Operational Support and Analysis</p>
                </li>
                <li>
                    <p>The challenges, Critical Success Factors and risks associated with ITIL Operational Support and Analysis</p>
                </li>
            </ul>
            <h2>Course Outline</h2>
            <ul>
                <li>
                    <p>Service Operation Practices</p>
                </li>
                <li>
                    <p>Event Management Process</p>
                </li>
                <li>
                    <p>Incident Management Process</p>
                </li>
                <li>
                    <p>Problem Management Process</p>
                </li>
                <li>
                    <p>Request Fulfillment Process</p>
                </li>
                <li>
                    <p>Access Management Process</p>
                </li>
                <li>
                    <p>Service Desk Function</p>
                </li>
                <li>
                    <p>Common Operational Support and Analysis Functions</p>
                </li>
                <li>
                    <p>Improving Operational Support and Analysis</p>
                </li>
                <li>
                    <p>Technology and Implementation Considerations</p>
                </li>
                <p>In addition the training for this certification should include examination preparation, including a mock examination opportunity.</p>
            </ul>
            <h2>Format of the Examination</h2>
            <ul>
                <li>
                    <p><b>Examination Format</b>: - Scenario Based</p>
                </li>
                <li>
                    <p><b>Number of Questions</b>: 8</p>
                </li>
                <li>
                    <p><b>Duration</b>: Max 90 Minutes</p>
                </li>
                <li>
                    <p><b>Pass Percentage</b>: 70%</p>
                </li>
                <li>
                    <p><b>Delivery</b>: Online or Paper Based</p>
                </li>
                <li>
                    <p><b>Open/Closed Book</b>: Closed Book</p>
                </li>
            </ul>
        </div>
    </div>
</div>