<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">PRINCE2 Agile Practitioner</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container courses">
    <div class="container-fluid">
        <div class="col-lg-8">
            <h2>Course Highlights</h2>
            <p>PRINCE2 Agile has been developed as a single-tier Practitioner qualification. The purpose of the Practitioner qualification is to demonstrate that you can apply and tailor PRINCE2 Agile in a scenario situation.</p>
            <p>A successful Practitioner candidate should be able to start applying the method to a real project but may not be sufficiently skilled to do this appropriately for all situations. Your individual project management expertise, complexity of the project and the support provided for the use of PRINCE2 Agile in your work environment will all be factors that impact what you can achieve.</p>
            <h2>Target Candidate</h2>
            <p>This qualification is aimed at Project Managers who hold a current PRINCE2 Practitioner qualification. It is also relevant to other key staff involved with integrating project management with product delivery. An understanding of the agile concepts within PRINCE2 Agile will also be relevant to those with governance responsibilities for projects using agile delivery approaches as well as those involved with programme and project support functions.</p>
        </div>
        <div class="col-lg-4 text-center"><img src="images/p2a_main.png" alt="PRINCE2 Agile Practitioner"></div>
        <div class="col-lg-12">
            <h2>Prerequisites</h2>
            <ul>
                <li>
                    <p>In order to sit for PRINCE2 Agile Practitioner examination you must hold a current PRINCE2 Practitioner qualification</p>
                </li>
            </ul>
            <h2>Learning Objectives</h2>
            <ul>
                <li>
                    <p>Enable delegates on how to tailor PRINCE2 to work in the best way possible in an agile context</p>
                </li>
                <li>
                    <p>Equip delegates to blend and weave the principles, processes and themes of PRINCE2 with many of the common ways of working in an agile way</p>
                </li>
                <li>
                    <p>Understand how to configure PRINCE2 when in different situations and how to incorporate the agile frameworks, behaviors, concepts and techniques in the best way possible to increase the chances of successful project delivery</p>
                </li>
                <li>
                    <p>Help delegates to operate effectively with colleagues and managers within a structured project management environment which requires agile mode of delivery</p>
                </li>
                <li>
                    <p>Prepares the delegates to appear for the APMG PRINCE2<sup>®</sup> Foundation and Practitioner Level Project Management Certification and pass it successfully</p>
                </li>
            </ul>
            <h2>Course Outline</h2>
            <ul>
                <li>
                    <p>Introduction - what is PRINCE2 Agile</p>
                    <ul>
                        <li>
                            <p>Fundamentals</p>
                        </li>
                        <li>
                            <p>Projects and BAU</p>
                        </li>
                        <li>
                            <p>What is agile?</p>
                        </li>
                        <li>
                            <p>The PRINCE2 Agile Journey</p>
                        </li>
                        <li>
                            <p>The PRINCE2 Agile Hexagon - what to fix and flex</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Starting Up a Project and Initiating a Project</p>
                    <ul>
                        <li>
                            <p>Assessing value, Requirements and User Stories</p>
                        </li>
                        <li>
                            <p>Prioritisation (including MoSCoW)</p>
                        </li>
                        <li>
                            <p>Change (including the feedback loop)</p>
                        </li>
                        <li>
                            <p>Organisation</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Servant Leadership</p>
                    <ul>
                        <li>
                            <p>Principles and behaviors’</p>
                        </li>
                        <li>
                            <p>PRINCE2 Agile<sup>™</sup> Risk Framework including tools</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Managing Product Delivery</p>
                    <ul>
                        <li>
                            <p>The Scrum Framework</p>
                        </li>
                        <li>
                            <p>Plans and Progress</p>
                        </li>
                        <li>
                            <p>Estimation, Burn charts and Information Radiators</p>
                        </li>
                        <li>
                            <p>Work Packages</p>
                        </li>
                        <li>
                            <p>Quality</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Controlling a Stage and Managing a Stage Boundary</p>
                    <ul>
                        <li>
                            <p>Frequent releases and Retrospectives</p>
                        </li>
                        <li>
                            <p>Directing a Project</p>
                        </li>
                        <li>
                            <p>Closing a Project</p>
                        </li>
                        <li>
                            <p>The PRINCE2 Management Products</p>
                        </li>
                        <li>
                            <p>Rich communication (including Workshops)</p>
                        </li>
                        <li>
                            <p>Kanban and The Kanban Method</p>
                        </li>
                        <li>
                            <p>Lean Startup</p>
                        </li>
                        <li>
                            <p>General guidance (including Project Health Check, transitioning, Project Managements hints and tips)</p>
                        </li>
                    </ul>
                </li>
            </ul>
            <h2>Benefits to Participants</h2>
            <ul>
                <li>
                    <p>Improved position in the job market and career progression within project and programme management by achieving the new PRINCE2 Agile qualification</p>
                </li>
                <li>
                    <p>Recognized globally with an international qualification which demonstrates your ability to apply best practice approaches to managing any and every kind of project – no matter the size or scale</p>
                </li>
                <li>
                    <p>A broad understanding of all of the key agile concepts and how these blend seamlessly into the PRINCE2 methodology</p>
                </li>
                <li>
                    <p>Flexibility to work with both ever-evolving solutions and those that are clearly defined in detail</p>
                </li>
                <li>
                    <p>Completing your PRINCE2 Agile qualification will earn you 15 continuing professional development (CPD) points towards a professional membership, maintaining your PRINCE2 qualification other than through re-sitting the exam</p>
                </li>
            </ul>
            <h2>Format of the Examination</h2>
            <ul>
                <li>
                    <p><b>Examination Format</b>:  Scenario Based Questions</p>
                </li>
                <li>
                    <p><b>Number of Questions</b>: 50</p>
                </li>
                <li>
                    <p><b>Pass Percentage</b>: 60%</p>
                </li>
                <li>
                    <p><b>Delivery</b>: Online or Paper Based</p>
                </li>
                <li>
                    <p><b>Exam Duration</b>: Maximum 150 minutes</p>
                </li>
                <li>
                    <p><b>Open/Closed Book</b>: Open Book</p>
                </li>
            </ul>
        </div>
    </div>
</div>