<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">Prince2 Foundation Training in Hyderabad|PRINCE2 Foundation &amp; Practitioner </h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container courses">
    <div class="container-fluid">
        <div class="col-lg-8">
            <h2>Wheere can i take prince2 exam?</h2>
            <h2>Prince2 certification Course Highlights</h2>
            <p>The PRINCE2 Foundation Certification course is the entry level course to Project Management. PRINCE2 Foundation means Projects in Controlled Environment. PRINCE2 Foundation is a process-based approach for project management providing an easily tailored and scalable method for the management of all types of projects. The method is the de-facto standard for project management in the UK and is practiced worldwide</p>
            <p>officially launched in October 1996, PRINCE2 is the method used for planning and managing projects in the public and private sectors. The method is used for a wide variety and size of projects. PRINCE2 is universally accepted as best practice project management.</p>
            <p>Organizations and individuals requiring to understand how PRINCE2 provides a controlled approach to managing projects. Suitable for project managers, team managers, project support and assurance staff, and managers from any discipline. We will support prince2 foundation preparation </p>
            <p>The PRINCE2 method is flexible and adaptable for any type and size of project, and offers an excellent management foundation for any member of staff. wr are top Training instuite for prince2 certification in Hyderabad. We are providing best offers in prince2 foundation exam fee.</p>
        </div>
        <div class="col-lg-4 text-center"><img src="images/p2f_main.png" alt="quicklearnsys"></div>
        <div class="col-lg-12">
            <h2>Prince2 Certification Course Target Group</h2>
            <p>Project and team managers, project support teams and managers from other disciplines wishing to develop an understanding of PRINCE2 and its practical application and sit the PRINCE2 Foundation and Practitioner exams.</p>
            <p>Ideally, delegates should have project related experience and knowledge and should already be working in a project based environment.</p>
            <h2>Prerequisites</h2>
            <p><strong>PRINCE2 Foundation</strong>: Candidate should have some understanding of Project Management but there is no formal prerequisite for the Foundation qualification.</p>
            <h2>Prince2 Certification Course Learning Objectives</h2>
            <p>The key objectives of PRINCE2 Foundation course are:</p>
            <ul>
                <li>
                    <p>Understand the PRINCE2 method at Foundation level</p>
                </li>
                <li>
                    <p>Understand the PRINCE2 Method and Framework</p>
                </li>
                <li>
                    <p>What are Projects, Characteristics of Projects</p>
                </li>
                <li>
                    <p>The Structure of PRINCE2</p>
                </li>
                <li>
                    <p>Understand the Four Integrated Elements of PRINCE2</p>
                </li>
                <li>
                    <p>Understand the 7 PRINCE2 Principles and their Purpose</p>
                </li>
                <li>
                    <p>Learn the 7 PRINCE2 Themes and their Purpose</p>
                </li>
                <li>
                    <p>Learn the 7 PRINCE2 Processes, their Purpose, Objectives, Activities and Outputs</p>
                </li>
                <li>
                    <p>Understand the PRINCE2 Project Management team Roles and their Responsibilities</p>
                </li>
                <li>
                    <p>Key PRINCE2 Project Management Products and why and where they are created</p>
                </li>
            </ul>
            <h2>Prince2 Certification Course Outline</h2>
            <ul>
                <li>
                    <p>Overview, Principles and Tailoring PRINCE2</p>
                </li>
                <li>
                    <p>Business Case theme</p>
                </li>
                <li>
                    <p>Organization theme</p>
                </li>
                <li>
                    <p>Starting up a Project process</p>
                </li>
                <li>
                    <p>Quality theme</p>
                </li>
                <li>
                    <p>Plans theme</p>
                </li>
                <li>
                    <p>Initiating a Project process</p>
                </li>
                <li>
                    <p>Risk theme</p>
                </li>
                <li>
                    <p>Change theme</p>
                </li>
                <li>
                    <p>Progress theme</p>
                </li>
                <li>
                    <p>Controlling a Stage process</p>
                </li>
                <li>
                    <p>Directing a Project process</p>
                </li>
                <li>
                    <p>Managing Product Delivery process</p>
                </li>
                <li>
                    <p>Managing a Stage Boundary process</p>
                </li>
                <li>
                    <p>Closing a Project process</p>
                </li>
                <li>
                    <p>Complete the Foundation Exam</p>
                </li>
            </ul>
            <h2>Benefits to Participants</h2>
            <ul>
                <li>
                    <p>Learn how to manage projects or to work in a project environment using the most internationally recognized project management method</p>
                </li>
                <li>
                    <p>Ensure that team members focus on the viability of the project in relation to its business case objectives - rather than simply seeing the completion of the project as an end in itself</p>
                </li>
                <li>
                    <p>Promote consistency of project work and the ability to reuse project assets while facilitating staff mobility and reducing the impact of personnel changes/handovers</p>
                </li>
                <li>
                    <p>Design plans and reports to meet the needs of each level in the project team and Project Board, improving communication and control</p>
                </li>
                <li>
                    <p>Mitigate perceived problems and issues and focus on the viability of the project throughout</p>
                </li>
                <li>
                    <p>Evaluate the project portfolio to bring clarity and allow improvements in reviewing projects</p>
                </li>
            </ul>
            <h2>Format of the Examination and Prince2 Exam Registration</h2>
            <ul>
                <li>
                    <p><b>Exam Format</b>: Multiple choices</p>
                </li>
                <li>
                    <p><b>Delivery</b>: Online or Paper Based</p>
                </li>
                <li>
                    <p><b>No. of Questions</b>: 75 questions per paper</p>
                </li>
                <li>
                    <p><b>Pass Percentage</b>: 35 marks required to pass (out of 70 available) - 50%</p>
                </li>
                <li>
                    <p><b>Duration</b>: 60 minutes duration</p>
                </li>
                <li>
                    <p><b>Open/Closed Book</b>: Closed book</p>
                </li>
                <li>
                    <p><b>Note</b>: 5 questions to be trial and not counted in scores</p>
                </li>
            </ul>
        </div>
    </div>
</div>