<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">PRINCE2<sup>®</sup> Practitioner</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container courses">
    <div class="container-fluid">
        <div class="col-lg-8">
            <h2>Course Highlights</h2>
            <p>The purpose of the Practitioner qualification is to confirm whether the candidate has achieved sufficient understanding of how to apply and tailor PRINCE2 in a scenario situation. A successful Practitioner candidate should, with suitable direction, be able to start applying the method to a real project but may not be sufficiently skilled to do this appropriately for all situations. Their individual project management expertise, complexity of the project and the support provided for the use of PRINCE2 in their work environment will all be factors that impact w hat the Practitioner can achieve.</p>
            <h2>Target Audience</h2>
            <p>This qualification is aimed at project managers and aspiring project managers. It is also relevant to other key staff involved in the design, development and delivery of projects, including: Project Board members, Team Managers, Project Assurance, Project Support, and operational line managers/staff.</p>
        </div>
        <div class="col-lg-4 text-center"><img src="images/p2p_main.png" alt=""></div>
        <div class="col-lg-12">
            <h2>Prerequisites</h2>
            <p>In order to sit the PRINCE2 Practitioner examination you must provide proof of having passed one of the following:</p>
            <ul>
                <li>
                    <p>PRINCE2 Foundation</p>
                </li>
                <li>
                    <p>Project Management Professional (PMP)</p>
                </li>
                <li>
                    <p>Certified Associate in Project Management (CAPM)</p>
                </li>
            </ul>
            <h2>Learning objectives</h2>
            <p>The key objectives of this PRINCE2 Practitioner course are:</p>
            <ul>
                <li>
                    <p>Understand the PRINCE2 method at Practitioner level</p>
                </li>
                <li>
                    <p>Understand how to tailor PRINCE2 to your project environment</p>
                </li>
                <li>
                    <p>Develop Key PRINCE2 products</p>
                </li>
                <li>
                    <p>Apply classroom concepts to project scenarios</p>
                </li>
                <li>
                    <p>Learn the 7 PRINCE2 Themes and how they are applied in projects</p>
                </li>
                <li>
                    <p>Learn the 7 PRINCE2 Processes, activities and create the key management products within each process</p>
                </li>
                <li>
                    <p>Understand the PRINCE2 Project Management team Roles and their Responsibilities</p>
                </li>
                <li>
                    <p>Key PRINCE2 Project Management Products and why and where they are created</p>
                </li>
                <li>
                    <p>Use a Case study scenario to apply PRINCE2 framework</p>
                </li>
            </ul>
            <h2>Course Outline</h2>
            <ul>
                <li>
                    <p>Structure Approach to Managing Projects</p>
                </li>
                <li>
                    <p>The Process - based Approach</p>
                </li>
                <li>
                    <p>Business Case</p>
                </li>
                <li>
                    <p>Organization</p>
                </li>
                <li>
                    <p>Plans</p>
                </li>
                <li>
                    <p>Progress</p>
                </li>
                <li>
                    <p>Change</p>
                </li>
                <li>
                    <p>Quality</p>
                </li>
                <li>
                    <p>Risk</p>
                </li>
                <li>
                    <p>Practical Work</p>
                </li>
            </ul>
            <h2>Benefits to Participants</h2>
            <ul>
                <li>
                    <p>Learn how to manage projects or to work in a project environment using the most internationally recognized project management method</p>
                </li>
                <li>
                    <p>Ensure that team members focus on the viability of the project in relation to its business case objectives - rather than simply seeing the completion of the project as an end in itself</p>
                </li>
                <li>
                    <p>Promote consistency of project work and the ability to reuse project assets while facilitating staff mobility and reducing the impact of personnel changes/handovers</p>
                </li>
                <li>
                    <p>Design plans and reports to meet the needs of each level in the project team and Project Board, improving communication and control</p>
                </li>
                <li>
                    <p>Mitigate perceived problems and issues and focus on the viability of the project throughout</p>
                </li>
                <li>
                    <p>Evaluate the project portfolio to bring clarity and allow improvements in reviewing projects</p>
                </li>
            </ul>
            <h2>Format of the Examination</h2>
            <ul>
                <li>
                    <p><b>Exam Format</b>: Multiple choices</p>
                </li>
                <li>
                    <p><b>Delivery</b>: Online or Paper Based</p>
                </li>
                <li>
                    <p><b>No. of Questions</b>: 80 questions </p>
                </li>
                <li>
                    <p><b>Pass Percentage</b>: 44 marks required to pass (out of 80 available) - 55%</p>
                </li>
                <li>
                    <p><b>Duration</b>: 210 minutes duration</p>
                </li>
                <li>
                    <p><b>Open/Closed Book</b>: Open book</p>
                </li>
                <li>
                    <p><b>Note</b>: 5 questions to be trial and not counted in scores</p>
                </li>
            </ul>
        </div>
    </div>
</div>