<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">PMI - PMP Certification</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container courses">
    <div class="container-fluid">
        <div class="col-lg-8">
            <h2>Course Highlights</h2>
            <p>In this course, you gain in-depth knowledge and skills to assist you in preparing for the Project Management
                Institute's rigorous Project Management Professional (PMP)<sup>®</sup> exam. The PMP credential is recognized as the
                universal standard of excellence in the profession, reflected in the fact that more and more organizations
                today are requiring that their project management professionals be PMP-certified.</p>
            <p>Through concentrated practice exams and workshops, you learn essential Project Management Body of Knowledge (PMBOK<sup>®</sup>
                Guide) terminology, tools and techniques, as well as the specialized elements beyond the PMBOK<sup>®</sup> Guide required
                to pass the exam. Some overnight study is required to prepare for the daily practice exams. You will leave
                this course having created a personalized study plan designed for ultimate exam success</p>
            <h2>Target Group</h2>
            <ul>
                <li>
                    <p>Project managers, Operations Managers, Production Managers, Planning Managers</p>
                </li>
                <li>
                    <p>Individuals from Information Technology, BPO, KPO, Telecom, FMCG, Manufacturing, Constructions, Oil &
                        Gas etc.</p>
                </li>
                <li>
                    <p>All professionals working on any aspect of projects even if ‘Project Manager' is not their official title</p>
                </li>
                <li>
                    <p>Aspirants of PMP<sup>®</sup> certification</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <img src="images/pmp_main.png" alt="PMP">
        </div>
        <div class="col-lg-12">
            <h2>Learning Objectives</h2>
            <p>Upon successful completion of this course, students will be able to apply the generally recognized practices
                of project management acknowledged by the Project Management Institute (PMI) to successfully manage projects.
                They will:</p>
            <ul>
                <li>
                    <p>Get started with project management fundamentals</p>
                </li>
                <li>
                    <p>Identify organizational influences and project life cycle</p>
                </li>
                <li>
                    <p>Work with project management processes</p>
                </li>
                <li>
                    <p>Initiate a project</p>
                </li>
                <li>
                    <p>Plan a project</p>
                </li>
                <li>
                    <p>Plan for project time management</p>
                </li>
                <li>
                    <p>Plan project budget, quality, and communications</p>
                </li>
                <li>
                    <p>Plan for risk, procurements, and stakeholder management</p>
                </li>
                <li>
                    <p>Execute a project</p>
                </li>
                <li>
                    <p>Manage project work, scope, schedules, and cost</p>
                </li>
                <li>
                    <p>Control a project</p>
                </li>
                <li>
                    <p>Close a project</p>
                </li>
            </ul>
            <h2>Course Outline</h2>
            <p>The course is based on the Project Management Body of Knowledge (PMBOK<sup>®</sup> Guide) 5th Edition published by the Project
                Management Institute (PMI<sup>®</sup>) and consists of 10 knowledge areas, 5 process groups &amp;47 processes</p>
            <ul>
                <li>
                    <p>Introduction &amp; Integration Management</p>
                </li>
                <li>
                    <p>Project Scope Management</p>
                </li>
                <li>
                    <p>Project Time Management</p>
                </li>
                <li>
                    <p>Project Cost Management</p>
                </li>
                <li>
                    <p>Project Quality Management</p>
                </li>
                <li>
                    <p>Project Human Resource Management</p>
                </li>
                <li>
                    <p>Project Communications Management</p>
                </li>
                <li>
                    <p>Project Risk Management</p>
                </li>
                <li>
                    <p>Project Procurement Management</p>
                </li>
                <li>
                    <p>Project Stakeholder Management</p>
                </li>
            </ul>
            <h2>Benefits to Participants</h2>
            <ul>
                <li>
                    <p>Participants can equip Knowledge, Process, Methods, Tools and Techniques to manage Projects in time and within budget</p>
                </li>
                <li>
                    <p>Attaining PMP<sup>®</sup> certification is a big challenge—and a big career opportunity, once a PMP<sup>®</sup>, the Participant is recognized across industries around the globe</p>
                </li>
                <li>
                    <p>This prestigious certification attests participant’s core knowledge based on Education, Experience and Examination</p>
                </li>
                <li>
                    <p>Participants will be awarded a 35 contact-hours certificate which is a pre-requisite for PMP<sup>®</sup> Certification</p>
                </li>
                <li>
                    <p>This preparatory training is based on PMBOK<sup>®</sup> 5th Edition, which is the official guide of PMI<sup>®</sup>, global association of PMP<sup>®</sup></p>
                </li>
                <li>
                    <p>Will improve participant’s Efficiencies, by emphasizing importance of key objectives, milestones, deliverables and working within the constraints of scope, time, cost, and quality</p>
                </li>
                <li>
                    <p>Businesses are becoming more projects centric and certified project managers are in demand</p>
                </li>
            </ul>
            <h2>Exams Structure</h2>
            <p>PMI has released a new version of Project Management Body of Knowledge (PMBOK) and now certification exams will be conducted based on the new version</p>
            <p>To become a PMP, you would require passing a rigorous multiple-choice examination. This exam is designed to objectively assess and measure your ability to apply project management knowledge in the following five domains:</p>
            <div class="col-lg-7">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Project Management Area</th>
                            <th>Percentage of Questions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Initiating the Project</td>
                            <td>13%</td>
                        </tr>
                        <tr>
                            <td>Planning the project</td>
                            <td>24%</td>
                        </tr>
                        <tr>
                            <td>Executing the project</td>
                            <td>31%</td>
                        </tr>
                        <tr>
                            <td>Monitoring and Controlling the Project</td>
                            <td>25%</td>
                        </tr>
                        <tr>
                            <td>Closing the project</td>
                            <td>7%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>This computer-based examination is administered globally. You will have 4 hours time to answer 200 questions related to the above five domains.</p>
            <p>Out of 200 questions, there will be 25 questions and they would not affect your score. These questions will be placed randomly in question paper and you would not be able to differentiate these questions from other live questions.</p>
            <p>As such PMI does not disclose total passing score for any candidate but to pass the exams, according to an assessment by experienced trainers, you must correctly answer at least 61% of 175 live questions. There are no negative marks for wrong answers, so don't leave any question unanswered.</p>
            <p>One more important note is that 60% questions will be based on real-life scenarios. Books and tutorials definitely help but real project management experience is a must to pass this examination.</p>
            <div class="col-lg-12">
                <h2>PMP Certification Expenses</h2>
                <p>Here is the structure of the expenses you might incur to obtain this prestigious certification.</p>
                <ul>
                    <li>
                        <p>Computer-based Testing (CBT) Fees:</p>
                        <ul>
                            <li>
                                <p>If you are a member of PMI then this fees will be $405.00</p>
                            </li>
                            <li>
                                <p>If you are not a member of PMI then it will cost you $555.00</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>Re-Examination Fees:</p>
                        <ul>
                            <li>
                                <p>If you are a member of PMI then this fees will be $275.00</p>
                            </li>
                            <li>
                                <p>If you are not a member of PMI then it will cost you $375.00</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>If you are not able to qualify the examination in the first attempt then you can give further attempts by paying re-examination fees, as mentioned above.</p>
            </div>
        </div>
    </div>
</div>