<div class="jumbotron text-center">
  <div class="container-fluid">
    <div class="col-md-12 text-center" style="padding-top:4%;">
      <h1 class="lead" style="font-size:3.2em;margin-top: 2em;">SAFe POPM 4.6 Certification Training</h1>
    </div>
  </div>
</div>
<div class="container-fluid content-container courses">
  <div class="container-fluid">
    <div class="col-lg-8">
      <h2>SAFe Product Owner/Product Manager 4.6</h2>
      <p>The SAFe Product Owner/ Product Manager Certification program is a two day workshop on the principles of SAFe,
        During this two-day course, attendees will gain an in-depth understanding of the Agile Release Train (ART), how
        it delivers value, and what they can do to effectively perform their role. They will also learn how to apply
        Lean thinking to write Epics, break them down into Features and Stories, plan and execute Iterations, and plan
        Program Increments. Finally, attendees learn about the Continuous Delivery Pipeline and DevOps culture, how to
        effectively integrate as Product Owners and Product Managers, and what it takes to relentlessly improve the ART.
      </p>
    </div>
    <div class="col-lg-4 text-center">
      <img src="images/cspo_main.png" alt="ITIL Continual Service Improvement">
    </div>
    <div class="col-lg-12">
      <h2>Prerequisites</h2>
      <p>All are welcome to attend the course, regardless of experience. However, the following prerequisites are highly
        recommended for those who intend to take the <i> SAFe 4 Product</i> Owner/Product Manager (POPM) certification
        exam:</p>
      <ul>
        <li>
          <p>5+ years of experience in software development, testing, business analysis, product or Project management
          </p>
        </li>
        <li>
          <p>Attend a Leading SAFe course</p>
        </li>
        <li>
          <p>Experience working in a SAFe environment</p>
        </li>
        <li>
          <p>Experience with Lean, Agile, or other relevant certifications</p>
        </li>
      </ul>
      <h2>Learning Goals</h2>
      <p>To perform the role of a SAFe Product Owner/Product Manager, attendees should be able to:</p>
      <ul>
        <li>
          <p>Apply SAFe in the Lean enterprise</p>
        </li>
        <li>
          <p>Connect SAFe Lean-Agile principles and values to the PO/PM roles</p>
        </li>
        <li>
          <p>Collaborate with Lean Portfolio Management</p>
        </li>
        <li>
          <p>Explore continuous value with Program Increment Planning</p>
        </li>
        <li>
          <p>Execute the Program Increment and deliver continuous value</p>
        </li>
        <li>
          <p>Articulate the Product Owner and Product Manager roles</p>
        </li>
        <li>
          <p>Create a role action plan</p>
        </li>
      </ul>
      <h2>Who will benefit?</h2>
      <p>The following individuals will benefit from this course:</p>
      <ul>
        <li>
          <p>Product Managers, Product Line Managers, Product Owners, Business Owners, and Business Analysts</p>
        </li>
        <li>
          <p>Solution Managers, Portfolio Managers, Program Managers, PMO personnel, and Process Leads</p>
        </li>
        <li>
          <p>Enterprise, Solution, and System Architects</p>
        </li>
      </ul>
      <h2>Course Outline</h2>
      <ul>
        <li>
          <p>Applying SAFe in the Lean enterprise</p>
        </li>
        <li>
          <p>Relating a Lean-Agile Mind-set to the Product Owner and Product Manager roles</p>
        </li>
        <li>
          <p>Collaborating with Lean Portfolio Management</p>
        </li>
        <li>
          <p>Continuously explore customer needs</p>
        </li>
        <li>
          <p>Executing the Program Increment</p>
        </li>
        <li>
          <p>Defining the Product Owner/Product Manager roles and responsibilities</p>
        </li>
        <li>
          <p>Creating a Product Owner/Product Manager action plan</p>
        </li>
      </ul>
      <h2>Benefit to Participants</h2>
      <p>The class registration includes:</p>
      <ul>
        <li>
          <p>Attendee workbook</p>
        </li>
        <li>
          <p>Preparation and eligibility to take the SAFe® 4 Product Owner/Product Manager (POPM)exam</p>
        </li>
        <li>
          <p>One-year membership to the SAFe Community Platform</p>
        </li>
        <li>
          <p>Course certificate of completion</p>
        </li>
      </ul>
      <h2>Exam Details</h2>
      <ul>
        <li>
          <p><b>Exam Name:</b> SAFe 4 Product Owner/Product Manager Exam</p>
        </li>
        <li>
          <p><b>Exam Format:</b> Multiple Choice</p>
        </li>
        <li>
          <p><b>Exam Delivery:</b> Web-based; Closed book;</p>
        </li>
        <li>
          <p><b>Exam Access:</b> Candidates can access the exam within the SAFe® Community Platform upon completion of
            the SAFe® 4 Product Owner/Product Manager course</p>
        </li>
        <li>
          <p><b>Exam Duration:</b> 90 minutes (1.5 hours)</p>
        </li>
        <li>
          <p><b>Number of Questions:</b> 45</p>
        </li>
        <li>
          <p><b>Passing Score:</b> 35 out of 45 (78%)</p>
        </li>
        <li>
          <p><b>Exam Cost:</b> First exam attempt is included as part of the course registration fee if the exam is
            taken within 30 days of course completion. Each retake attempt costs $50</p>
        </li>
        <li>
          <p><b>Retake policy:</b> Second attempt on exam (first retake) can be done immediately after first attempt.
            Third attempt requires a 10-day wait. Fourth attempt requires a 30-day wait.</p>
        </li>
      </ul>
      <h2>SAFe Certification Kit</h2>
      <p>Attendees who pass the certification exam will receive:</p>
      <ul>
        <li>
          <p>SAFe Product Owner/Product Manager certificate</p>
        </li>
        <li>
          <p>A SAFe 4 Product Owner/Product Manager digital badge to promote your accomplishment online</p>
        </li>
        <li>
          <p>A one-year certified membership as a SAFe Product Owner/Product Manager, which includes access to the POPM
            Community of Practice</p>
        </li>
        <li>
          <p>A SAFe Product Owner/Product Manager certification usage guide with POPM certification marks</p>
        </li>
        <li>
          <p>Access to a variety of learning resources to support certified professionals during their SAFe journey</p>
        </li>
      </ul>
      <h2>Annual Renewal</h2>
      <p>Certificates expire one year from the date the certification is earned.</p>
      <ul>
        <li>
          <p><b>Renewal fee is $100</b></p>
        </li>
      </ul>
      <!-- ul>li*>p|t -->
    </div>
  </div>
</div>