<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">ITIL Intermediate RCV Training & Certification</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container courses">
    <div class="container-fluid">
        <div class="col-lg-8">
            <h2>The ITIL Intermediate Qualification</h2>
            <p>Release, Control and Validation (RCV) Certificate is a free-standing qualification, but is also part of the ITIL Intermediate Capability stream, and one of the modules that leads to the ITIL Expert Certificate in IT Service Management. The purpose of this training module and the associated exam and certificate is, respectively, to impart, test, and validate the knowledge on industry practices in service management as documented in the ITIL Service Lifecycle core publications. The ITIL Certificate in Release, Control and Validation is intended to enable the holders of the certificate to apply the practices during the service management lifecycle and specifically in the following key ITIL process, role and function areas:</p>
            <ul>
                <li>
                    <p>Change management</p>
                </li>
                <li>
                    <p>Service asset and configuration management</p>
                </li>
                <li>
                    <p>Service validation and testing</p>
                </li>
                <li>
                    <p>Release and deployment management</p>
                </li>
                <li>
                    <p>Request fulfillment</p>
                </li>
                <li>
                    <p>Change evaluation</p>
                </li>
                <li>
                    <p>Knowledge management</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 text-center" style="padding-top: 8%;"><img src="images/rcv_main.png" alt="quicklearnsys"></div>
        <div class="col-lg-12">
            <h2>Target Candidate</h2>
            <ul>
                <li>
                    <p>Individuals who have attained the ITIL Foundation certificate in Service Management and who wish to advance to higher level ITIL certifications</p>
                </li>
                <li>
                    <p>Individuals who require a deep understanding of ITIL Certificate in Release, Control and Validation processes and how it may be used to enhance the quality of IT service support within an organisation</p>
                </li>
                <li>
                    <p>IT professionals that are working within an organisation that has adopted and adapted ITIL who need to be informed about and thereafter contribute to an ongoing service improvement programme</p>
                </li>
                <li>
                    <p>Operational staff involved in Change Management, Release and Deployment Management, Service Validation and Testing, Service Asset and Configuration Management, Request Fulfillment, Service Evaluation and Knowledge Management, who wish to enhance their role based capabilities</p>
                </li>
              <p>This may include but is not limited to, IT professionals, business managers and business process owners.</p>
            </ul>
            <h2>Prerequisites</h2>
            <ul>
                <li>
                    <p>Candidates wishing to be trained and examined for this qualification must already hold the ITIL Foundation Certificate in IT Service Management, which shall be presented as documentary evidence to gain admission</p>
                </li>
                <li>
                    <p>Undertake at least 30 contact hours (hours of instruction, excluding breaks, with an Accredited Training Organization (ATO) or an accredited e-learning solution) for this syllabus, as part of a formal, approved training course/scheme</p>
                </li>
                <li>
                    <p>2 to 4 years professional experience working in IT service management is highly desirable</p>
                </li>
                <li>
                    <p>Hold the ITIL Foundation Certificate in IT Service Management</p>
                </li>
                <li>
                    <p>It is also recommended that candidates should complete a minimum of 12 hours of personal study by reviewing the syllabus and the pertinent areas within the ITIL Service Transition and ITIL Service Operation core guidance in preparation for the examination, specifically Chapter 2:Service management as a practice</p>
                </li>
            </ul>
            <h2>Learning Objectives</h2>
            <ul>
                <li>
                    <p>The importance of Service Management as a Practice concept and Service Transition Principals, Purpose and Objective</p>
                </li>
                <li>
                    <p>The importance of ITIL Release, Control and Validation while providing service</p>
                </li>
                <li>
                    <p>How all processes in ITIL Release, Control and Validation interact with other Service Lifecycle Processes</p>
                </li>
                <li>
                    <p>What are the processes, activities, methods and functions used in each of the ITIL Release, Control and Validation processes</p>
                </li>
                <li>
                    <p>How to use the ITIL Release, Control and Validation processes, activities and functions to achieve operational excellence</p>
                </li>
                <li>
                    <p>How to measure ITIL Release, Control and Validation</p>
                </li>
                <li>
                    <p>The importance of IT Security and its contributions to ITIL Release, Control and Validation</p>
                </li>
                <li>
                    <p>The technology and implementation considerations surrounding ITIL Release, Control and Validation</p>
                </li>
                <li>
                    <p>Challenges, Critical Success Factors and Risks associated to ITIL Release, Control and Validation</p>
                </li>
            </ul>
            <h2>Course Outline</h2>
            <ul>
                <li>
                    <p>Release, Control, and Validation</p>
                </li>
                <li>
                    <p>Service Asset and Configuration Management</p>
                </li>
                <li>
                    <p>Change Management</p>
                </li>
                <li>
                    <p>Change Evaluation</p>
                </li>
                <li>
                    <p>Release and Deployment Management</p>
                </li>
                <li>
                    <p>Service Validation and Testing</p>
                </li>
                <li>
                    <p>Request Fulfillment</p>
                </li>
                <li>
                    <p>Knowledge Management</p>
                </li>
                <li>
                    <p>Technology and Implementation Considerations</p>
                </li>
            </ul>
            <h2>Format of the Examination</h2>
            <ul>
                <li>
                    <p><b>Examination Format</b>: - Scenario Based</p>
                </li>
                <li>
                    <p><b>Number of Questions</b>: 8</p>
                </li>
                <li>
                    <p><b>Duration</b>: Max 90 Minutes</p>
                </li>
                <li>
                    <p><b>Pass Percentage</b>: 70%</p>
                </li>
                <li>
                    <p><b>Delivery</b>: Online or Paper Based</p>
                </li>
                <li>
                    <p><b>Open/Closed Book</b>: Closed Book</p>
                </li>
            </ul>
        </div>
    </div>
</div>