<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">Leading SAFe 4.5 (SAFe Agilist)</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container courses">
    <div class="container-fluid">
        <div class="col-lg-8">
            <p>The Scaled Agile Framework (SAFe) is a complete methodology for large-scale, multi-team agile project teams to
                carry out this transformation seamlessly. Created by Dean Laffingwell, this framework effortlessly synchronizes
                the alignment, collaboration, and delivery of multiple agile teams leading the way to enterprise success.</p>
            <p>When an enterprise changes its fundamental business process, it is critical to ensure that its team members truly
                embrace the How’s and Whys of Agile. Our 2-day Leading SAFe training class gives you the knowledge required
                to become a Certified SAFe Agilist, and to lead agile transformation within your enterprise using the Scaled
                Agile Framework and its underlying principles of flexibility, lean thinking and product development flow.</p>
            <p>Successful completion of this Scaled Agile Framework training course satisfies the requirement for the SAFe Agilist
                certification and prepares you to pass the exam.</p>
        </div>
        <div class="col-lg-4 text-center" style="padding-top: 8%;">
            <img src="images/rcv_main.png" alt="">
        </div>
        <div class="col-lg-12">
            <h2>Target Candidate</h2>
            <p>This course is beneficial to all members on an agile team, but it is targeted at those who are leading the efforts
                to adopt and scale Lean and Agile principles and practices in an enterprise transformation. Managers, program
                managers, executives, consultants, coaches, and anyone helping lead the SAFe implementation will obtain value
                from this course and certification.</p>
            <h2>Prerequisites</h2>
            <ul>
                <li>
                    <p>5+ years of experience in software development, testing, business analysis, product or project management</p>
                </li>
                <li>
                    <p>Working Experience of Scrum/Agile. </p>
                </li>
            </ul>
            <h2>Course Outline</h2>
            <ul>
                <li>
                    <p>
                        <b>Introducing the Scaled Agile Framework</b>
                    </p>
                    <ul>
                        <li>
                            <p>Understand the problem</p>
                        </li>
                        <li>
                            <p>Have a basic understanding of SAFe</p>
                        </li>
                        <li>
                            <p>Know how to implement SAFe</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>
                        <b>Embracing Lean and Agile Values</b>
                    </p>
                    <ul>
                        <li>
                            <p>Embrace Lean thinking</p>
                        </li>
                        <li>
                            <p>Embrace Agile Values</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>
                        <b>Understanding SAFe Principles</b>
                    </p>
                    <ul>
                        <li>
                            <p>Take an economic view</p>
                        </li>
                        <li>
                            <p>Apply system thinking</p>
                        </li>
                        <li>
                            <p>Assume variability preserve options</p>
                        </li>
                        <li>
                            <p>Build incrementally with fast, integrated learning cycles</p>
                        </li>
                        <li>
                            <p>Base milestones on objective evaluation of working systems</p>
                        </li>
                        <li>
                            <p>Visualize and limit WIP, reduce batch sizes, and manage queue lengths</p>
                        </li>
                        <li>
                            <p>Apply cadence; synchronize with cross-domain planning</p>
                        </li>
                        <li>
                            <p>Unlock the intrinsic motivation of knowledge workers</p>
                        </li>
                        <li>
                            <p>Decentralize decision-making</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>
                        <b>Implementing the Agile Release Train</b>
                    </p>
                    <ul>
                        <li>
                            <p>Organize an Agile Release Train</p>
                        </li>
                        <li>
                            <p>Organize Agile teams and key Agile Release Train roles</p>
                        </li>
                        <li>
                            <p>Understand the Release Planning process</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>
                        <b>Experiencing Release Planning</b>
                    </p>
                    <ul>
                        <li>
                            <p>Create draft plans</p>
                        </li>
                        <li>
                            <p>Finalize plans</p>
                        </li>
                        <li>
                            <p>Review and commit</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>
                        <b>Executing and Releasing Value</b>
                    </p>
                    <ul>
                        <li>
                            <p>Prepare the Vision and Program Backlog</p>
                        </li>
                        <li>
                            <p>Prioritize the Program Backlog</p>
                        </li>
                        <li>
                            <p>Plan the Release Planning</p>
                        </li>
                        <li>
                            <p>Update the Roadmap</p>
                        </li>
                        <li>
                            <p>Execute the Iterations</p>
                        </li>
                        <li>
                            <p>Execute the Release Plan</p>
                        </li>
                        <li>
                            <p>Inspect and Adapt</p>
                        </li>
                        <li>
                            <p>Release Value</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>
                        <b>Building an Agile Portfolio</b>
                    </p>
                    <ul>
                        <li>
                            <p>Define Strategic Themes</p>
                        </li>
                        <li>
                            <p>Define Value Streams</p>
                        </li>
                        <li>
                            <p>Advance the solution with Epics</p>
                        </li>
                        <li>
                            <p>Implement Lean-Agile Budgeting</p>
                        </li>
                        <li>
                            <p>Forecast</p>
                        </li>
                        <li>
                            <p>Understand how to capitalize costs</p>
                        </li>
                        <li>
                            <p>Implement Agile Program Portfolio Management</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>
                        <b>Leading the Lean- Agile Enterprise</b>
                    </p>
                    <ul>
                        <li>
                            <p>Lead the change</p>
                        </li>
                        <li>
                            <p>Know the way; emphasize life-long learning</p>
                        </li>
                        <li>
                            <p>Develop people</p>
                        </li>
                        <li>
                            <p>Inspire and align with mission minimize constraints</p>
                        </li>
                        <li>
                            <p>Decentralize decision-making Unlock the intrinsic motivation of knowledge workers</p>
                        </li>
                    </ul>
                </li>
            </ul>
            <h2>Benefits to participants </h2>
            <p>After this course, attendees will be able to:</p>
            <ul>
                <li>
                    <p>Demonstrate how Lean, Agile, and Product Development Flow form the foundation of SAFe</p>
                </li>
                <li>
                    <p>Explain and promote the use of SAFe</p>
                </li>
                <li>
                    <p>Identify roles and structures required to scale Agile to the program level</p>
                </li>
                <li>
                    <p>Execute coordinated releases across a program</p>
                </li>
                <li>
                    <p>Measure the impact and progress of scaled Agile in a program</p>
                </li>
                <li>
                    <p>Describe how a program interacts with Program Portfolio Management (PPM)</p>
                </li>
                <li>
                    <p>Complete the course of study leading to the SAFe Agilist (SA) certification exam</p>
                </li>
            </ul>
            <h2>Certification</h2>
            <ul>
                <li>
                    <p>After the training session, your trainer will email the candidate details to Scaled Academy (the Accrediting
                        body).
                    </p>
                </li>
                <li>
                    <p>Thereafter you will receive three emails directly from Scaled Academy – A Welcome Email to create your
                        profile, A Survey Email which requests your feedback on the training (and which is mandatory), Exam
                        Link Email, which will carry self-explanatory instructions on how to give the exam.</p>
                </li>
                <li>
                    <p>You will have a window of 30 days to take the exam.</p>
                </li>
                <li>
                    <p>Scaled Academy encourages taking the exam in one sitting, but you may take it over the course of several
                        days. i.e. You could exit the exam at any point and come back to it later or even the next day. When
                        you log back in, you will be taken to the beginning. You will need to click through till you reach
                        your first unanswered question.</p>
                </li>
                <li>
                    <p>The exam has to be completed in its entirety by midnight of the last day.</p>
                </li>
                <li>
                    <p>If you are completing the exam in one sitting, it could take up to 3 hours. So if you are starting the
                        exam on the last day, time it accordingly (start around 8pm or so) so you could complete it before
                        12am.
                    </p>
                </li>
            </ul>
            <h2>Format of the Examination</h2>
            <ul>
                <li>
                    <p>
                        <b>Exam Name</b>: SAFe 4 Agilist Exam
                    </p>
                </li>
                <li>
                    <p>
                        <b>Exam Format</b>: Multiple choice
                    </p>
                </li>
                <li>
                    <p>
                        <b>Exam Delivery</b>: Web-based (single-browser), closed book, no outside assistance, timed
                    </p>
                </li>
                <li>
                    <p>
                        <b>Exam Access</b>: Candidates can access the exam within the SAFe Community Platform upon completion
                        of the
                        <a href="https://www.scaledagile.com/certification/courses/leading-safe-4-5/">Leading SAFe course</a>
                    </p>
                </li>
                <li>
                    <p>
                        <b>Exam Duration</b>: Once the exam begins, candidates have 90 minutes (1.5 hours) to complete the exam
                    </p>
                </li>
                <li>
                    <p>
                        <b>Number of Questions</b>: 45
                    </p>
                </li>
                <li>
                    <p>
                        <b>Passing Score</b>: 34 out of 45 (76% passing score)
                    </p>
                </li>
                <li>
                    <p>
                        <b>Language</b>: English
                    </p>
                </li>
                <li>
                    <p>
                        <b>Exam Cost</b>: First exam attempt is included as part of the course registration fee if the exam
                        is taken within 30 days of course completion. Each retake attempt costs $50.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Retake Policy</b>: Second attempt on exam (first retake) can be done immediately after first attempt.
                        Third attempt requires a 10-day wait. Fourth attempt requires a 30-day wait.
                    </p>
                </li>
            </ul>
            <br>
        </div>
    </div>
</div>