<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">Certified Scrum Master</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container courses">
    <div class="container-fluid">
        <div class="col-lg-8">
            <h2>Course Highlights</h2>
            <p>A Certified Scrum Master is well equipped to use Scrum, an agile methodology to any project to ensure its success. Scrum’s iterative approach and ability to respond to change, makes the Scrum practice best suited for projects with rapidly altering and high emergent requirements, enabling teams to deliver usable software consistently and periodically through a defined project lifecycle.</p>
            <p>The role of the Certified Scrum Master can be seen as crucial and involves overcoming challenges to progress, facilitating the process, and working with the product owner to make sure the product backlog is in good shape and ready for the next sprint. The Certified Scrum Master ensures that his team lives by the values and practices of Scrum and doing so ensures their high-performance.</p>
            <p>During the Certified Scrum Master Training we cover all aspects of Scrum, both in theory and in practice. You will learn the Scrum values and principles and know how they contribute to the success of your project. The participants learn the techniques to lead development teams towards agile operations by managing product backlogs, planning releases and sprints, tracking and reporting progress, and conducting retrospectives.</p>
        </div>
        <div class="col-lg-4 text-center"><img src="images/scrum_main.png" alt=""></div>
        <div class="col-lg-12">
            <h2>Target Group</h2>
            <p>Because our course gives a great foundation in Scrum and the people skills necessary to make it successful in organizations, all stakeholders benefit from learning about its implementation for project or program management:</p>
            <ul>
                <li>
                    <p>IT Professionals (Architects, BAs, DBAs, Developers, Testers, etc.)</p>
                </li>
                <li>
                    <p>IT Leadership (Managers/Directors/VPs/CIOs/CTOs)</p>
                </li>
                <li>
                    <p>Project Managers</p>
                </li>
                <li>
                    <p>Anyone interested in learning the benefits of Scrum</p>
                </li>
            </ul>
            <h2>Prerequisites</h2>
            <ul>
                <li>
                    <p>None, though it is recommended that candidates have some exposure to software development or project management prior to the course.</p>
                </li>
            </ul>
            <h2>Learning Objectives</h2>
            <ul>
                <li>
                    <p>Learn the importance of having team values</p>
                </li>
                <li>
                    <p>Understand situations where using Scrum is appropriate</p>
                </li>
                <li>
                    <p>Learn the Scrum framework</p>
                </li>
                <li>
                    <p>Learn the roles and responsibilities in Scrum</p>
                </li>
                <li>
                    <p>Learn how to create a product vision statement</p>
                </li>
                <li>
                    <p>Learn how to create a product roadmap</p>
                </li>
                <li>
                    <p>Learn how to establish user roles and personas</p>
                </li>
                <li>
                    <p>Learn how to seed a product backlog</p>
                </li>
                <li>
                    <p>Learn how to write user stories</p>
                </li>
                <li>
                    <p>Learn how teams relatively size backlog items</p>
                </li>
                <li>
                    <p>Learn how to tell a good user story from a bad one</p>
                </li>
                <li>
                    <p>Learn to demonstrate how to track team progress so that I can project product completion times</p>
                </li>
                <li>
                    <p>Learn multiple ways to prioritize my product backlog</p>
                </li>
                <li>
                    <p>Learn the key meetings in Scrum</p>
                </li>
                <li>
                    <p>Learn how to track team progress</p>
                </li>
                <li>
                    <p>Learn how to play product box</p>
                </li>
                <li>
                    <p>Learn to identify areas where we might get into trouble during Scrum</p>
                </li>
            </ul>
            <h2>Course Outline</h2>
            <ul>
                <li>
                    <p>The Agile History</p>
                </li>
                <li>
                    <p>Introduction to Scrum </p>
                </li>
                <li>
                    <ul>
                        <li>
                            <p>Waterfall vs. Agile</p>
                        </li>
                        <li>
                            <p>Agile manifesto</p>
                        </li>
                        <li>
                            <p>The principle of Scrum</p>
                        </li>
                        <li>
                            <p>User stories : definition, description, epics, themes, the iceberg effect</p>
                        </li>
                        <li>
                            <p>Product backlog, prioritization techniques</p>
                        </li>
                        <li>
                            <p>Sprint, Sprint backlog</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Planning &amp; estimation </p>
                </li>
                <li>
                    <ul>
                        <li>
                            <p>The Scrum Rules of estimation</p>
                        </li>
                        <li>
                            <p>The Chart of effectiveness</p>
                        </li>
                        <li>
                            <p>Planning poker exercise</p>
                        </li>
                        <li>
                            <p>How to plan properly</p>
                        </li>
                        <li>
                            <p>Capacity handling </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Roles &amp; responsibilities  </p>
                </li>
                <li>
                    <ul>
                        <li>
                            <p>Scrum team</p>
                        </li>
                        <li>
                            <p>Certified Scrum master</p>
                        </li>
                        <li>
                            <p>Product owner</p>
                        </li>
                        <li>
                            <p>Stakeholders</p>
                        </li>
                        <li>
                            <p>Users</p>
                        </li>
                        <li>
                            <p>Definition of done</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Ceremonies</p>
                    <ul>
                        <li>
                            <p>Review meeting</p>
                        </li>
                        <li>
                            <p>Retrospective meeting</p>
                        </li>
                        <li>
                            <p>Planning meeting</p>
                        </li>
                        <li>
                            <p>Scrum stand-up meeting</p>
                        </li>
                        <li>
                            <p>Scrum of Scrums meeting</p>
                        </li>
                        <li>
                            <p>Sprint celebration meeting</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Scrum Artifacts</p>
                    <ul>
                        <li>
                            <p>Burn down chart</p>
                        </li>
                        <li>
                            <p>Sprint backlog</p>
                        </li>
                        <li>
                            <p>Product backlog</p>
                        </li>
                        <li>
                            <p>Product burn down chart</p>
                        </li>
                        <li>
                            <p>Task board</p>
                        </li>
                        <li>
                            <p>Visual board</p>
                        </li>
                    </ul>
                </li>
            </ul>
            <h2>Benefits to Participants</h2>
            <ul>
                <li>
                    <p>Career opportunities of certified professionals expand as they remain relevant and marketable across various industry sectors</p>
                </li>
                <li>
                    <p>Certified professionals demonstrate accomplishment of core Scrum knowledge to employers and peers</p>
                </li>
                <li>
                    <p>Certification helps in learning the foundation of Scrum and scope of Scrum Master’s role from the most experienced professionals in Scrum</p>
                </li>
                <li>
                    <p>The certification helps the professional to engage with a community of Scrum experts</p>
                </li>
                <li>
                    <p>As a Certified Scrum Master, the professional will be able to fill the roles of a Certified Scrum Master or a Scrum team member</p>
                </li>
                <li>
                    <p>The Certified Scrum Master gains an understanding of Scrum framework</p>
                </li>
                <li>
                    <p>Through this certification, the Certified Scrum master gains access to local groups, networks, and resources available only to Scrum Alliance members</p>
                </li>
            </ul>
        </div>
    </div>
</div>