<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">SIAM (Service Integration and Management) Foundation</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container courses">
    <div class="container-fluid">
        <div class="col-lg-8">
            <p>Service Integration and Management is a methodology used to manage multiple service providers and to integrate them seamlessly to provide a single business-facing IT organization. The EXIN BCS SIAM Foundation tests a candidate’s knowledge and understanding of the terminology and the core principles. This SIAM® certification covers themes such as: potential benefits as well as the challenges and risks of implementing Service Integration and Management.</p>
        </div>
        <div class="col-lg-4 text-center"><img src="images/siam_main.png" alt="" width="100%"></div>
        <div class="col-lg-12">
            <h2>Target Candidate</h2>
            <p>This certification is aimed at professionals worldwide who have an interest in the practices of Service Integration and Management or that want to implement this methodology in an organisation, in particular those professionals who are already working with IT Service Management processes. Furthermore, this SIAM® certification is intended for providers that want to implement and manage Service Integration and Management models. The following roles could be interested in this module: </p>
            <h2>Prerequisites</h2>
            <ul>
                <li>
                    <p>Process Managers</p>
                </li>
                <li>
                    <p>Project Managers</p>
                </li>
                <li>
                    <p>Change Managers</p>
                </li>
                <li>
                    <p>Service Level Managers</p>
                </li>
                <li>
                    <p>Business Relationship Managers</p>
                </li>
                <li>
                    <p>Program Managers</p>
                </li>
                <li>
                    <p>Supplier Managers</p>
                </li>
                <li>
                    <p>Service Architects</p>
                </li>
                <li>
                    <p>Process Architects and many others</p>
                </li>
            </ul>
            <h2>Pre-Requisite</h2>
            <ul>
                <li>
                    <p>This course does not require any existing knowledge of SIAM</p>
                </li>
                <li>
                    <p>Knowledge of IT service management terminology is recommended, for Example ITIL or ISO/IEC 20000.</p>
                </li>
            </ul>
            <h2>Learning Objectives</h2>
            <p>Upon completion of this course, students will be able to:</p>
            <p>Service integration and management (SIAM) is a management methodology that is growing in popularity in today's complex ITIL sourcing environment. Effective SIAM can help organizations integrate the management of multiple service providers, leading to:  </p>
            <ul>
                <li>
                    <p>Improved customer satisfaction through a more professional approach to service delivery</p>
                </li>
                <li>
                    <p>Improved IT services through the use of proven best practice processes</p>
                </li>
                <li>
                    <p>Access to better resources and skills</p>
                </li>
                <li>
                    <p>Manage multiple supplier effectively</p>
                </li>
                <li>
                    <p>Achieving end to end SLA's</p>
                </li>
                <li>
                    <p>Improved service to the customer organization</p>
                </li>
                <li>
                    <p>Lower costs through optimisation and best of breed services</p>
                </li>
                <li>
                    <p>Flexibility and scalability</p>
                </li>
                <li>
                    <p>Working effectively in a SIAM organization</p>
                </li>
                <li>
                    <p>Articulating the benefits of SIAM</p>
                </li>
                <li>
                    <p>Understand process theory and have an awareness of common processes in a SIAM environment</p>
                </li>
                <li>
                    <p>Understanding of SIAM tooling and data considerations</p>
                </li>
                <li>
                    <p>Strong governance considerations for SIAM</p>
                </li>
            </ul>
            <h2>Course Outline</h2>
            <p>This certification covers themes such as: potential benefits as well as the challenges and risks of implementing Service Integration and Management. The SIAM® certification also includes examples of implementation structures, governance, tooling and data considerations and the common processes used in a SIAM ecosystem.</p>
            <ul>
                <li>
                    <p>Introduction to Service Integration and Management</p>
                </li>
                <li>
                    <p>Service Integration and Management implementation roadmap</p>
                </li>
                <li>
                    <p>Service Integration and Management and its relation to other management practices</p>
                </li>
                <li>
                    <p>Service Integration and Management roles and responsibilities</p>
                </li>
                <li>
                    <p>Service Integration and Management practices</p>
                </li>
                <li>
                    <p>Processes to support Service Integration and Management</p>
                </li>
                <li>
                    <p>Service Integration and Management challenges and risks</p>
                </li>
            </ul>
            <h2>Format of the Examination</h2>
            <ul>
                <li>
                    <p><b>Examination Format: </b>Objective Type, Multiple Choice</p>
                </li>
                <li>
                    <p><b>Number of Questions: </b>40</p>
                </li>
                <li>
                    <p><b>Pass Percentage: </b>65%</p>
                </li>
                <li>
                    <p><b>Delivery: </b>Online or Paper Based</p>
                </li>
                <li>
                    <p><b>Exam Duration: </b>Maximum sixty minutes</p>
                </li>
                <li>
                    <p><b>Open/Closed Book: </b>Closed Book</p>
                </li>
                <li>
                    <p><b>Result: </b>Immediately after the exam</p>
                </li>
                <li>
                    <p><b>Certificate: </b>After 2 business days</p>
                </li>
            </ul>
            <br>
        </div>
    </div>
</div>