<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">TOGAF 9.1 Level 1 and Level 2</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container courses">
    <div class="container-fluid">
        <div class="col-lg-8">
            <h2>Course Highlights</h2>
            <p>TOGAF, an Open Group standard, is a proven enterprise architecture methodology and framework used by the world's leading organizations to improve business efficiency. TOGAF helps practitioners avoid being locked into proprietary methods, utilize resources more efficiently and effectively, and realize a greater return on investment. TOGAF is an industry-standard architecture framework that may be used freely by your organization to develop information systems architecture.</p>
            <p>In this course, you will gain the knowledge needed to prepare for and achieve both TOGAF 9.1 Level 1 certification, known as TOGAF 9.1 Foundation, and TOGAF Level 2 certification, known as TOGAF 9.1 Certified. You will learn the technology, structure, and concepts of TOGAF 9.1. In addition to gaining the knowledge and comprehension of TOGAF 9.1, you will learn to analyze and apply this knowledge.</p>
            <p>Candidates who have completed this course will be able to use TOGAF<sup>®</sup> to understand, develop, implement and manage their organization's technology governance by: </p>
            <p>Understanding Enterprise Architecture basics Familiarization with common terminology of Enterprise Architecture Complete understanding of TOGAF<sup>®</sup> 9 Getting practical experiences on how to use TOGAF<sup>®</sup> in their work</p>
        </div>
        <div class="col-lg-4 text-center"><img src="images/togaf_main.png" alt=""></div>
        <div class="col-lg-12">
            <h2>Target Candidate</h2>
            <ul>
                <li>
                    <p>Individuals who require a deeper understanding of TOGAF 9.1</p>
                </li>
                <li>
                    <p>Professionals who are working in an organization where TOGAF 9.1 has been adopted</p>
                </li>
                <li>
                    <p>Architects who will be responsible for developing architecture artifacts</p>
                </li>
                <li>
                    <p>Architects who wish to introduce TOGAF 9.1 into an architecture practice and who want to achieve a recognized qualification to demonstrate their detailed knowledge of TOGAF 9.1</p>
                </li>
                <li>
                    <p>People interested in receiving TOGAF 9.1 certification, such as:</p>
                    <ul>
                        <li>
                            <p>Chief Architects</p>
                        </li>
                        <li>
                            <p>Enterprise Architects</p>
                        </li>
                        <li>
                            <p>Business Architects</p>
                        </li>
                        <li>
                            <p>Business Analysts</p>
                        </li>
                        <li>
                            <p>Solution Architects</p>
                        </li>
                    </ul>
                </li>
            </ul>
            <h2>Prerequisites</h2>
            <ul>
                <li>
                    <p>There are no prerequisites for this course. Although some enterprise architecture experience is beneficial</p>
                </li>
                <li>
                    <p>Awareness of organizational processes is useful</p>
                </li>
                <li>
                    <p>To be certified on TOGAF 9.1 Level 2, it is required to have passed the TOGAF Level 1 exam</p>
                </li>
            </ul>
            <h2>Learning Objectives</h2>
            <p>You will gain the knowledge needed to prepare for and achieve both TOGAF<sup>®</sup> 9.1 Level 1 (Foundation) certification and TOGAF<sup>®</sup> Level 2 (Certified), including You will learn:</p>
            <ul>
                <li>
                    <p>The frameworks and structure of TOGAF<sup>®</sup></p>
                </li>
                <li>
                    <p>Explain TOGAF Concepts and describe how then can be realized with TOGAF’s templates as well as pulling threads together to build a roadmap</p>
                </li>
                <li>
                    <p>How to analyze and apply TOGAF<sup>®</sup> knowledge</p>
                </li>
                <li>
                    <p>TOGAF Certification element covering all testable learning outcomes</p>
                </li>
                <li>
                    <p>Case Studies</p>
                </li>
                <li>
                    <p>Reinforces how TOGAF used to architect key capabilities</p>
                </li>
                <li>
                    <p>Provides a common conversation reference about TOGAF’s concepts</p>
                </li>
            </ul>
            <h2>Course Outline</h2>
            <ul>
                <li>
                    <p>Management</p>
                </li>
                <li>
                    <p>The TOGAF 9 Components</p>
                </li>
                <li>
                    <p>Architecture Development Method</p>
                </li>
                <li>
                    <p>The Enterprise Continuum</p>
                </li>
                <li>
                    <p>The Architecture Repository</p>
                </li>
                <li>
                    <p>The Architecture Content Framework</p>
                </li>
                <li>
                    <p>The Architecture Content Meta model</p>
                </li>
                <li>
                    <p>The Preliminary Phase</p>
                </li>
                <li>
                    <p>Architecture Governance</p>
                </li>
                <li>
                    <p>Business Scenarios</p>
                </li>
                <li>
                    <p>Stakeholder Management</p>
                </li>
                <li>
                    <p>Architecture Views and Viewpoints</p>
                </li>
                <li>
                    <p>Building Blocks and the ADM</p>
                </li>
                <li>
                    <p>Architecture Implementation Support Techniques</p>
                </li>
                <li>
                    <p>Phase A: Architecture Vision</p>
                </li>
                <li>
                    <p>Phase B: Business Architecture</p>
                    <ul>
                        <li style="list-style:none;">
                            <ul>
                                <li>
                                    <p>Catalogs, Diagrams, and Matrices</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Phase C: Information Systems Architectures</p>
                    <ul>
                        <li>
                            <p>Data Architecture</p>
                            <ul>
                                <li>
                                    <p>Catalogs, Matrices, and Diagrams</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p>Applications Architecture</p>
                            <ul>
                                <li>
                                    <p>Catalogs, Matrices, and Diagrams</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>The Integrated Information Infrastructure Reference Model</p>
                </li>
                <li>
                    <p>Foundation Architecture</p>
                </li>
                <li>
                    <p>Phase D: Technology Architecture</p>
                    <ul>
                        <li style="list-style:none;">
                            <ul>
                                <li>
                                    <p>Catalogs, Matrices and Diagrams</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Migration Planning Techniques</p>
                </li>
                <li>
                    <p>Phase E: Opportunities and Solutions</p>
                </li>
                <li>
                    <p>Phase F: Migration Planning</p>
                </li>
                <li>
                    <p>Phase G: Implementation Governance</p>
                </li>
                <li>
                    <p>Phase H: Architecture Change Management</p>
                </li>
                <li>
                    <p>ADM Requirements Management</p>
                </li>
                <li>
                    <p>Architecture Partitioning</p>
                </li>
                <li>
                    <p>Guidelines for Adapting the ADM:</p>
                    <ul>
                        <li>
                            <p>Iteration and Levels</p>
                        </li>
                        <li>
                            <p>Security</p>
                        </li>
                        <li>
                            <p>SOA</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Architecture Maturity Models</p>
                </li>
                <li>
                    <p>Architecture Skills Framework</p>
                </li>
                <li>
                    <p>Case study</p>
                </li>
                <li>
                    <p>Exercise</p>
                </li>
            </ul>
            <h2>Format of the Examination</h2>
            <p><b>Level 1 exam</b></p>
            <ul>
                <li>
                    <p><b>Examination Format</b>: Multiple Choice</p>
                </li>
                <li>
                    <p><b>Number of Questions</b>: 40</p>
                </li>
                <li>
                    <p><b>Pass Percentage</b>: 55%</p>
                </li>
                <li>
                    <p><b>Delivery</b>: Online/ Paper Based</p>
                </li>
                <li>
                    <p><b>Exam Duration</b>: Maximum 60 minutes </p>
                </li>
                <li>
                    <p><b>Open/Closed Book</b>: Closed Book.</p>
                </li>
            </ul>
            <p><b>Level 2 exam</b></p>
            <ul>
                <li>
                    <p><b>Examination Format</b>: Multiple Choice Scenario Based</p>
                </li>
                <li>
                    <p><b>Number of Questions</b>: 8</p>
                </li>
                <li>
                    <p><b>Pass Percentage</b>: 60%</p>
                </li>
                <li>
                    <p><b>Delivery</b>: Online/ Paper Based</p>
                </li>
                <li>
                    <p><b>Exam Duration</b>: Maximum 90 minutes </p>
                </li>
                <li>
                    <p><b>Open/Closed Book</b>: Open Book</p>
                </li>
            </ul>
        </div>
    </div>
</div>