<h3>Welcome to QucikLearn Systems Admin Panel</h3>
<div class="container-fluid card">
    <div class="card-heading">
        <h3 class="card-title">
            Here is all you need to know
        </h3>
    </div>
    <div class="card-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="instructions">
                    <li>
                        <p>You can find all your editabled stuff of your website under &nbsp;
                            <b><i class="fa fa-th"></i> Componenets</b> tab in menu on the left</p>
                    </li>
                    <li>
                        <p><button class="btn btn-xs btn-primary btn-action"><i class="fa fa-navicon"></i></button> Click to <b>shrink</b> side menu and gain more working area</p>
                    </li>
                    <li>
                        <p><button class="btn btn-xs btn-primary btn-action">Add</button> Click to <b>add</b> a new row just
                            below the current row </p>
                    </li>
                    <li>
                        <p><button class="btn btn-xs btn-danger btn-action">Delete</button> Click to <b>delete</b> the current
                            row
                        </p>
                        <ul class="instructions">
                            <li><button class="btn btn-xs btn-danger btn-action"><i class="fa fa-check-circle"></i></button>                                Click if you are <b>sure</b> of deleting the data in current row <b>permanently</b> </li>
                            <li><button class="btn btn-xs btn-success btn-action"><i class="fa fa-times-circle"></i></button>                                Click if you are <b>not sure</b> of deleting the data in current row</li>
                        </ul>
                    </li>
                    <li>
                        <p><button class="btn btn-xs btn-warning btn-action">Edit</button> Click to <b>edit</b> or <b>change</b>                            contents in current row.</p>
                        <ul class="instructions">
                            <li>
                                <p>All the text cells will turn into editable fileds</p>
                            </li>
                            <li>
                                <p><button class="btn btn-info btn-xs btn-action"><i class="glyphicon glyphicon-link" style="font-size:small"></i></button>                                    Click to <b>update</b> links</p>
                            </li>
                            <li>
                                <p>
                                    <button class="btn btn-xs change-img btn-action"><i class="fa fa-refresh"></i></button>                                    Click to <b>update</b> the current image.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <button class="btn btn-xs change-img btn-action"><i class="fa fa-times"></i></button>                                    Click to <b>remove</b> current image.<br/>
                                    <span><small><em>(A palceholder image will appear if current image is removed)</em></small></span>
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p><button class="btn btn-xs btn-success btn-action">Save</button> Make sure to click <b>save</b> once you are
                            done with editing data of current row</p>
                    </li>
                    <li>
                        <p><button class="btn btn-primary btn-xs btn-action"><i class="fa fa-home"></i> Home</button> Click to go to <b>QuickLearn Systems Homepage</b></p>
                    </li>
                    <li>
                        <p><button class="btn btn-primary btn-xs btn-action"><i class="fa fa-sign-out"></i> Logout</button> Click to <b>Logout</b></p>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <blockquote class="blockquote-reverse">
            <p>Hope you enjoy working with it.</p>
            <p style="font-size:small">Please feel free to contact <a href="mailto:alfa.godwin.omega@gmail.com" class="link">me</a> for support.</p>
            <small>Godwin VC</small>
        </blockquote>
    </div>
</div>