<div class="container-fluid container-mother">
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="col-md-5 logo">
			<img src="../_/images/logo.png" alt="QuickLearn Systems">
		</div>
		<div class="col-md-1 menu-div"><i class="fa fa-navicon" ng-click="shrinkMenu()"></i></div>
		<div class="col-md-6 nav-title" ng-class="{'text-center':!smallMenu}">
			<p class="nav-title-text">QuickLearn Systems - Admin Panel</p>
		</div>
		<div class="col-md-2 text-center pull-right logout-div">
			<a href="http://quicklearnsys.com/#/home"><button class="btn btn-primary btn-sm"><i class="fa fa-home"></i> Home</button></a>
			<button class="btn btn-primary btn-sm" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</button>
		</div>
	</div>
	<div class="sidebar" ng-class="{'sidebar-icons':smallMenu}">
		<div class="container-tabs" ng-mouseleave="tabIndicator($event)">
			<div class="tabs">
				<ul>
					<li ng-repeat="item in sidebar">
						<div class="container-fluid tab" ng-mouseenter="tabIndicator($event)" ng-click="toggleSubmenu($event, $index)">
							<div class="col-xs-2 text-left"><i class="{{item.icon}}"></i></div>
							<div class="col-xs-8 tab-title" ng-hide="smallMenu">{{item.title}}</div>
							<div class="col-xs-1 text-center tab-arrow" ng-hide="smallMenu"><i class="fa fa-angle-down" ng-class="{'arrow-up': item.subMenu}" ng-show="item.hasSubMenu"></i></div>
						</div>
						<ul class="tabs-sub" ng-hide="smallMenu">
							<li ng-repeat="subMenuItem in item.subMenuItems" ng-hide="!item.subMenu">
								<div class="container-fluid tab" ng-mouseenter="tabIndicator($event)" ui-sref="{{subMenuItem.state}}">
									<div class="col-xs-2 text-center"></div>
									<div class="col-xs-10 tab-title">{{subMenuItem.title}}</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="tabs-indicator"></div>
	</div>
	<div class="workspace" ng-class="{'workspace-smallMenu':smallMenu}">
		<div class="container-fluid">
			<ui-view></ui-view>
		</div>
	</div>
</div>