<h1 class="tab-heading">Testimonials</h1>
<div class="container-fluid card">
	<div class="card-heading">
		<h3 class="card-title">List of Testimonials</h3>
	</div>
	<div class="card-body">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th width="50%">Quote</th>
					<th>Image</th>
					<th width="150px;">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="testimonial in testimonials.data" class="repeat-item">
					<td class="text" data-type="text">{{testimonial.name}}</td>
					<td class="text" data-type="text">{{testimonial.message}}</td>
					<td class="text" data-type="image">
						<img ng-src=".{{testimonial.image}}" alt="quicklearnsys">
					</td>
					<td data-type="actions">
						<div class="container-fulid">
							<div class="row">
								<div class="col-xs-12 text-center" style="margin-bottom:10px">
									<button class="btn btn-xs btn-block btn-primary btn-action" ng-click="addRow($index)">Add</button>
								</div>
								<div class="col-xs-12 text-center"style="margin-bottom:10px">
									<div class="btn-delete">
										<button class="btn btn-xs btn-block btn-danger btn-action" ng-click="removeRow($event, $index)">Delete</button>
									</div>
									<span class="input-group" style="display:none">
								<span class="input-group-addon" style="padding:4px;"> Sure? </span>
									<span class="input-group-btn">
									<button class="btn btn-danger btn-xs btn-action yes" ng-click="removeRow($event, $index)">
										<i class="fa fa-check-circle"></i>
										</button>
									<button class="btn btn-success btn-xs btn-action no" ng-click="removeRow($event, $index)">
										<i class="fa fa-times-circle"></i>
									</button>
								</span>
									</span>
								</div>
								<div class="col-xs-12 text-center"style="margin-bottom:10px">
									<button class="btn btn-xs btn-block btn-warning btn-action edit" ng-click="editRow($event)">Edit</button>
									<button class="btn btn-xs btn-block btn-success btn-action save" ng-click="saveRowText($event, $index)" style="display:none">Save</button>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>