<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%">
            <h1 class="lead about_h1">About QuickLearn Systems</h1>
            <p class="caption">Value for time and money invested is the prime aspiration of Quicklearn Systems.</p>
        </div>
    </div>
</div>
<div class="container-fluid about_page">
    <div class="col-lg-12 about-us">
        <div class="col-lg-6">
            <h2 class="lead about_h2">About QuickLearn Systems</h2>
            <p class="about_p">QuickLearn Systems is professional training and certification provider catering its services from last 4 years.
                Quicklearn provides world class training that includes online trainings, E-learning and Classroom trainings.
                Customer satisfaction, Value for time and money invested is the prime aspiration of Quicklearn Systems. We
                customize the trainings based on your requirements to ensure you get the best out from the trainings.</p>
            <p class="about_p">We strongly believe that it can be achieved by understanding the challenges in detail from customer perspective
                and guide them accordingly to suit their career requirements and achieve their goals. Our Service and Support
                team is equipped with the best Systems to provide transparent &amp; seamless Service to our customers. We
                strongly believe in professionalism and ethics which we demonstrate in our business. Our Main goal is to
                guide you through your success and ensure you grow up the ladder with a framework that suits every individual.</p>
            <p class="about_p">
                We are a leading training provider for working professionals in the areas of Project &amp; Program Management, Service Management,
                IT Governance &amp; Architecture and Quality Management. We offer live-online (instructor-led online), classroom
                (instructor-led classroom), E-learning (online self-learning) courses, Customized and Corporate Trainings.
            </p>
            <p class="about_p">
                Whether it is an Individual or a Corporate, QuickLearn Systems strives to make the learning experience effective and fruitful
                for the customer. QuickLearn Systems has several physical &amp; satellite training centers across India &amp;
                the world. QuickLearn Systems is known in Major Metros in and across the globe.
            </p>

        </div>
    </div>
</div>
<div class="container-fluid vision ">
    <div class="container text-center">
        <h2 class="text-default">Vision</h2>
        <span class="text-default lead">We are Limited not by Our Abilities but by Our Vision...</span>
        <div class="container">
            <div class="col-sm-12">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p class="about_p">Be the standard and benchmark to beat. Be the standard that other enterprise training institutes strive
                        to reach. To be respected and appreciated by our customers for the outstanding quality of our trainings,creativity,
                        helpfulness and the effectiveness of our training programs.
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
</div>
<div class="mission">
    <div class="container">
        <div class="col-sm-6">
            <h1 class="text-default about_h1">Mission</h1>
            <span class="text-default lead">Where there is a will there is only the A - Z way…</span>
            <p class="about_p">Enable Customers with the knowledge capable to develop and enhance their skills to create different, endeavours
                to be a professional. We offer flexible trainings, customized training and solutions designed to educate,
                inspire and motivate individuals and businesses helping you reach and achieve your goals and aspirations.</p>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-6">
        <h1 class="text-default about_h1">Values</h1>
        <span class="text-default lead">We at QuickLearn Systems,<br/> Fully Committed to help you succeed.</span>
        <ul>
            <li><p class="about_p"><b>Quality</b> teaching and learning.</p></li>
            <li><p class="about_p"><b>Respect</b> and <b>Care</b> for all.</p></li>
            <li><p class="about_p"><b>Customer Satisfaction</b> is our priority.</p></li>
            <li><p class="about_p"><b>Focus</b> on <b>continuous improvement</b>.</p></li>
            <li><p class="about_p"><b>Long Term Relationship</b> with <b>Our customers</b>.</p></li>
        </ul>
        </div>
    </div>
</div>