<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">Accreditations</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container" style="min-height: 300px;padding-top: 119px;">
    <div class="container text-center">
        <div class="col-sm-3" style="margin-bottom:12px;">
            <img src="../images/acceredation/1.png" alt="quicklearnsys">
        </div>
        <div class="col-sm-3" style="margin-bottom:12px;">
            <img src="../images/acceredation/2.png" alt="quicklearnsys">
        </div>
        <div class="col-sm-3" style="margin-bottom:12px;">
            <img src="../images/acceredation/3.png" alt="quicklearnsys">
        </div>
        <div class="col-sm-3" style="margin-bottom:12px;">
            <img src="../images/acceredation/4.png" alt="quicklearnsys">
        </div>
    </div>
    <hr>
    <div class="container-fluid" style="padding:15px 50px;">
        <h1>Disclaimer</h1>
        <p>
            ITIL® is a registered trade mark of AXELOS Limited. The Swirl logo™ is a trade mark of AXELOS Limited PRINCE2® is a registered
            trade mark of AXELOS Limited. The Swirl logo ™ is a trade mark of AXELOS Limited. PMP® is a registered mark of
            the Project Management Institute, Inc. All rights reserved.</p>
    </div>
</div>