<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">Contact Us</h1>
        </div>
    </div>
</div>
<div class="container-fluid container-contact shadow-container">
    <div class="contact-form">
        <div class="col-md-12 text-center">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" data-target="#form"><i class="fa fa-file-text"></i> Contact Form</a></li>
                <li><a data-toggle="tab" data-target="#godwin"><i class="fa fa-envelope"></i> Email</a></li>
                <li><a data-toggle="tab" data-target="#phone"><i class="fa fa-phone-square"></i> Phone</a></li>
                <li><a data-toggle="tab" data-target="#chat"><i class="fa fa-comments"></i> Chat</a></li>
                <li><a data-toggle="tab" data-target="#address"><i class="fa fa-map-marker"></i> Address</a></li>
            </ul>

            <div class="tab-content">
                <div id="form" class="tab-pane fade in active">
                    <h2 class="text-primary text-center"><strong>Contact Form</strong></h2>
                    <form class="form-horizontal" ng-submit="contactSubmit()">
                        <div class="form-group">
                            <label for="fullName" class="col-lg-3 control-label">Name *</label>
                            <div class="col-lg-9">
                                <input type="text" ng-model="siteContact.fullname" class="form-control" id="fullName" placeholder="Full Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-lg-3 control-label">Email *</label>
                            <div class="col-lg-9">
                                <input type="text" ng-model="siteContact.email" class="form-control" id="email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="select" class="col-lg-3 control-label">Course Interested *</label>
                            <div class="col-lg-9">
                                <select class="form-control" id="select" ng-model="siteContact.courseInterested" ng-init="siteContact.courseInterested = coursesList[0]">
                            <option ng-repeat="course in coursesList" ng-disabled="$index == 0" value="{{course}}">{{course}}</option>
                        </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textArea" class="col-lg-3 control-label">Remarks *</label>
                            <div class="col-lg-9">
                                <textarea class="form-control" rows="3" id="textArea" placeholder="Your Remarks" ng-model="siteContact.message"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6 text-center">
                                <input type="submit" class="btn btn-block" ng-class="siteContactSubmit == 'Submit' ? 'btn-primary' :'btn-success'" ng-disabled="siteContactSubmit !== 'Submit'"
                                    value="{{siteContactSubmit}}">
                            </div>
                            <div class="col-lg-3"></div>
                        </div>
                    </form>
                </div>
                <div id="godwin" class="tab-pane fade text-left">
                    <h2 class="text-primary text-center"><strong>Email</strong></h2>
                    <p class="text-left">Simply send us an email at <a href="mailto:info@quicklearnsys.com"><strong>info@quicklearnsys.com</strong></a>.
                        Most emails are replied to in under 15 minutes.</p>
                </div>
                <div id="phone" class="tab-pane fade text-left">
                    <h2 class="text-primary text-center"><strong>Phone</strong></h2>
                    <p class="text-left">For any information regarding your Training and Certification requirement call us at: <strong><u><span style="font-family:courier;"><br>+91 9100195152<br>+91 9100195153</span></u></strong></p>
                </div>
                <div id="chat" class="tab-pane fade text-left">
                    <h2 class="text-primary text-center"><strong>Chat</strong></h2>
                    <p class="text-left">Let's chat! Simply activate the chat <strong>pop-up</strong> at the bottom right hand corner of your
                        screen and one of our representatives will chat with you live.</p>
                </div>
                <div id="address" class="tab-pane fade text-left">
                    <h2 class="text-primary text-center"><strong>Office Address</strong></h2>
                    <p class="text-left">
                        <address>
                            QuickLearn Systems, Lorven. Office No. 2, Block A &amp; B, 2nd Floor, Vaishnavi Cynsoure, Near Gachibowali Flyover, Hyderabad
                            500034.
                        </address>
                    </p>
                    <div class="container-fluid" style="padding:0px">
                        <div class="col-sm-12" style="padding:0px">
                            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1EUlel-g8P2eywmy3tsKxaVeN5X4" width="514" height="480"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>