<ul class="mobile-menu-list">
    <li>
        <a ui-sref="app.home">Home</a>
    </li>
    <li class="dropdown-mobile">
        <a aria-expanded="false">
            About
            <span class="caret"></span>
        </a>
        <ul class="dropdown-mobile-menu dropdown-mobile-intial level-1 list-1">
            <li>
                <a ui-sref="app.about">Mission /Vision</a>
            </li>
        </ul>
    </li>
    <li class="dropdown-mobile">
        <a aria-expanded="false">Classroom Courses
            <span class="caret"></span>
        </a>
        <ul class="dropdown-mobile-menu dropdown-mobile-intial level-1 list-4">
            <li class="dropdown-mobile-submenu">
                <a>Service Management <span class="caret"></span></a>
                <ul class="dropdown-mobile-menu dropdown-mobile-intial level-2 list-4">
                    <li>
                        <a ui-sref="app.itil_foundation">ITIL Foundation</a>
                    </li>
                    <li class="dropdown-mobile-submenu">
                        <a ui-sref="app.itil_intermediate">ITIL Intermediate</a>
                        <ul class="dropdown-mobile-menu dropdown-mobile-intial level-3 list-2">
                            <li class="dropdown-mobile-submenu">
                                <a>ITIL Lifecycle Modules</a>
                                <ul class="dropdown-mobile-menu dropdown-mobile-intial level-4 list-5">
                                    <li>
                                        <a ui-sref="app.service_strategy">ITIL Service Strategy</a>
                                    </li>
                                    <li>
                                        <a ui-sref="app.service_design">ITIL Service Design</a>
                                    </li>
                                    <li>
                                        <a ui-sref="app.service_transition">ITIL Service Transition</a>
                                    </li>
                                    <li>
                                        <a ui-sref="app.service_operation">ITIL Service Operation</a>
                                    </li>
                                    <li>
                                        <a ui-sref="app.continual_service">ITIL Continual Service Improvement</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-mobile-submenu">
                                <a>ITIL Capability Module</a>
                                <ul class="dropdown-mobile-menu dropdown-mobile-intial level-4 list-4">
                                    <li>
                                        <a ui-sref="app.soa">ITIL Service, Offering and Agreement (SOA)</a>
                                    </li>
                                    <li>
                                        <a ui-sref="app.ppo">ITIL Planning, Protection and Optimization (PPO)</a>
                                    </li>
                                    <li>
                                        <a ui-sref="app.rcv">ITIL Release, Control and Validation (RCV)</a>
                                    </li>
                                    <li>
                                        <a ui-sref="app.osa">ITIL Operational, Support and Analysis (OSA)</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-mobile-submenu">
                        <a>ITIL Expert</a>
                        <ul class="dropdown-mobile-menu dropdown-mobile-intial level-3 list-1">
                            <li>
                                <a ui-sref="app.malc">ITIL
                                    <sup>&reg;</sup> Managing Across The Lifecycle</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a ui-sref="app.siam">SIAM Foundation</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown-mobile-submenu">
                <a>Project &amp; Program Management <span class="caret"></span></a>
                <ul class="dropdown-mobile-menu dropdown-mobile-intial level-1 list-10">
                    <li>
                        <a ui-sref="app.capm">CAPM</a>
                    </li>
                    <li>
                        <a ui-sref="app.pmp">PMP</a>
                    </li>
                    <li>
                        <a ui-sref="app.acp">ACP</a>
                    </li>
                    <li>
                        <a ui-sref="app.prince2foundation">Prince2 Foundation</a>
                    </li>
                    <li>
                        <a ui-sref="app.prince2practitioner">Prince2 Practitioner</a>
                    </li>
                    <li>
                        <a ui-sref="app.prince2agile">Prince2 Agile</a>
                    </li>
                    <li>
                        <a ui-sref="app.scrum">Scrum Master</a>
                    </li>
                    <li>
                        <a ui-sref="app.msp">Managing Successful Programs</a>
                    </li>
                    <li>
                        <a ui-sref="app.safe">SAFe 4.5 (SAFe Agilist)</a>
                    </li>
                    <li>
                        <a ui-sref="app.dev_ops">DevOps Master</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown-mobile-submenu">
                <a>Quality Management <span class="caret"></span></a>
                <ul class="dropdown-mobile-menu dropdown-mobile-intial level-2 list-2">
                    <li>
                        <a ui-sref="app.green_belt">Lean Six Sigma Green Belt</a>
                    </li>
                    <li>
                        <a ui-sref="app.black_belt">Lean Six Sigma Black Belt</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown-mobile-submenu">
                <a>IT Governance &amp; Architecture <span class="caret"></span></a>
                <ul class="dropdown-mobile-menu dropdown-mobile-intial level-2 list-2">
                    <li>
                        <a ui-sref="app.cobit">COBIT 5 Foundation</a>
                    </li>
                    <li>
                        <a ui-sref="app.togaf">TOGAF 9.1 Level 1 &amp; Level 2</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a ui-sref="app.upcoming_events">Upcoming Events</a>
    </li>
    <li>
        <a ui-sref="app.services">Services</a>
    </li>
    <li>
        <a ui-sref="app.contact">Contact Us</a>
    </li>
</ul>