<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">Privacy Policy</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container courses">
    <div class="container-fluid">
        <div class="col-lg-8">
            <h2>Privacy Policy</h2>
            <h3>Overview</h3>
            <p>We take your privacy seriously and are committed to protecting your right to privacy as a user of our website.
                We have made every effort to ensure your information is secure. This privacy policy information covers what
                information is collected, what we do with it, and what you can do about it. You can use this information
                to make your decisions about your privacy.</p>
            <h3>About us and the website</h3>
            <p>QuickLearn Systems provides online and classroom training for PMP, CAPM, PMI-ACP, Prince2, Prince2 Agile, Scrum Master, SAFe Agile, DevOps Master, SIAM Foundation, Lean Six Sigma, ITIL Foundation, ITIL Intermediate, ITIL Expert, Managing Successful Programs (MSP), Cobit5, TOGAF and Cloud Computing using this website. Our courses are designed to help IT Professionals in professional certification exam preparation to enhance their career.</p>

        </div>
        <div class="col-lg-4 text-center">
            <img src="../images/terms_main.png" alt="Terms And Conditions">
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-lg-12">
            <h3>QuickLearn Information Practices</h3>
            <p>Every effort has been taken to ensure the accuracy of the information on the website; the content is naturally subject to change. We are not responsible for any damages arising out of the use of the information held on this server.</p>
            <p>We assure that all our downloadable training content is virus free. However, QuickLearn Systems can accept no liability for damages resulting from virus infection.</p>
            
        </div>
        <div class="container-fluid">
            <div class="col-lg-12">
                <h3>Information collected by QuickLearn Systems</h3>
                <ul>
                    <li>
                        <p>You have total control on the privacy of your information.</p>
                    </li>
                    <li>
                        <p>Your information will never be sold, exchanged or disclosed to any third party for marketing purposes.</p>
                    </li>
                    <li>
                        <p>You can decide whether you want to opt-in to receive offers from us.</p>
                    </li>
                </ul>
                <p>You can browse our website without registration. We may collect and store the information that you voluntarily disclose to us, in order to access our free tests and discussion forum. We do not share your personal information with any third party. We do not collect information about our visitors from email databases, private/ public organization or bodies.</p>
                <p>We may use your information to contact you via email or telephone, typically to get feedback, to inform you about new products or provide support on your issues, if you do not want us to contact you via email, you can unsubscribe at any time with one click.</p>
                <p>When you purchase our online products or register for classroom training, you need to make the payment online, thus you will be required to share your personal information such as name, e-mail address, telephone number, address(s), credit card number, expiration, and CVV number, with us. During this program, we store your contact information in our registration and order-entry systems. Your credit card information is never stored in our system as it is processed by our payment gateway which uses Secure Encryption Technology (SSL). Our payment processing partners are PayU Money, CCAvenue, PayPal and Google Checkout</p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-lg-12">
                <h3>Cookie Information</h3>
                <p>In order to enhance your online experience and track website performance, our website uses cookies. It's a small text file which gets placed in your computer hard drive and can be retrieved later. Cookies do not tell us who you are.</p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-lg-12">
                <h3>E-commerce tracking</h3>
                <p>To provide superior online shopping experience, our shopping cart may use cookies to temporarily store name and email address. Cookies will never store credit card information as they're processed using Secure SSL using payment gateways.</p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-lg-12">
                <h3>External Links</h3>
                <p>Our website may have links to other sites which includes third party websites or resources. We are not responsible for the privacy policies and information practices of third party websites. Please read privacy policies of third party websites as every website has different terms of use and privacy policies.</p>
            </div>
        </div>
        <div class="continer-fluid">
            <div class="col-lg-12">
                <h3>Course Content</h3>
                <p>Course content for all the study programs both online and blended programs, it is provided for the purpose of education and guidance only. The course content is regularly reviewed and is subjected to change without notice. QuickLearn Systems reserves the right to modify training content without notice.</p>
                <h3>Copyright information</h3>
                <p>You can electronically copy or take print of the website pages, if it is being used for personal use only. QuickLearn Systems holds the copyright to all the material on this website, unless otherwise indicated. A written permission of the copyright holder must be obtained for any use of this material other than for purposes permitted by law.</p>
            </div>
            <div class="col-lg-12">
                <h3>Personal Information Policy Image and Video Capture</h3>
                <p>Any images captured during events organized and hosted by QuickLearn Systems should not be misused. That includes pictures of QuickLearn Systems staff and training participants. If you enrol in a QuickLearn Systems course your picture may also be featured in photos or videos of the QuickLearn Systems classes.</p>
                <h3>Sharing your personal information</h3>
                <p>If you have purchased a QuickLearn Systems course, we may ask you for testimonial and if you authorize us, we will display your testimonial on our website, photos and videos or in our social media channels such as Face book, YouTube, LinkedIn or Google+. You should be aware that your publicly identifiable information could be used to send you promotional, unsolicited messages. We are not responsible for your personal information which you have chosen to display.</p>
                <p>If you don't want us to feature your pictures/testimonials on our website or on our social media channels, you can write a mail to <a href="mailto:support@quicklearnsys.com">support@quicklearnsys.com</a></p>
                <h3>Personal Information Corrections</h3>
                <p>You can contact us if you notice that the information we are holding is incorrect or incomplete. Please send us a mail to <a href="mailto:info@quicklearnsys.com">info@quicklearnsys.com</a></p>
                <h3>Changes to Privacy Policy</h3>
                <p>This privacy policy terms may change time to time and we reserve the right to change the terms of this privacy policy at any time. When we update the privacy policy, all our registered users will be notified via email.</p>
                <h3>Deleting Personal Information</h3>
                <p>If you would like to delete your account, write to support@quicklearnsys.com</p>
                <h3>Privacy Policy Questions?</h3>
                <p>If you have any questions regarding QuickLearn Systems Privacy Policy, Please write to <a href="mailto:Info@quicklearnsys.com">Info@quicklearnsys.com</a></p>
            </div>
        </div>
    </div>
</div><br>