<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">Privacy Policy</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container courses">
    <div class="container-fluid">
        <div class="col-lg-8">
            <h2>Privacy Policy</h2>
            <h3>Overview</h3>
            <p>We take your privacy seriously and are committed to protecting your right to privacy as a user of our website.
                We have made every effort to ensure your information is secure. This privacy policy information covers what
                information is collected, what we do with it, and what you can do about it. You can use this information
                to make your decisions about your privacy.</p>
            <h3>About us and the website</h3>
            <p>Simplilearn.com provides instructor-led and classroom training for PMP®, CAPM®, Six Sigma, ITIL®, Primavera,
                MS® SharePoint, PMI-ACP®, PMI-RMP®, Minitab®, MS® Project. Our courses are designed to help project managers
                in professional certification exam preparation.</p>

        </div>
        <div class="col-lg-4 text-center">
            <img src="../images/terms_main.png" alt="Terms And Conditions">
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-lg-12">
            <h3>QuickLearn Information Practices</h3>
            <p>Every effort has been taken to ensure the accuracy of the information on the website; the content is naturally subject to change. We are not responsible for any damages arising from the use of the information held on this server.</p>
            <p>We assure that all our downloadable training content is virus free. However, Simplilearn can accept no liability for damages resulting from virus infection.</p>
            
        </div>
        <div class="container-fluid">
            <div class="col-lg-12">
                <h3>Information collected by QuickLearn</h3>
                <ul>
                    <li>
                        <p>You have total control on the privacy of your information.</p>
                    </li>
                    <li>
                        <p>Your information will never be sold, exchanged or disclosed to any third party for marketing purposes.</p>
                    </li>
                    <li>
                        <p>You can opt to receive offers from us.</p>
                    </li>
                </ul>
                <p>You can browse our website without registration.</p>
                <p>We may collect and store the information that you voluntarily disclose to us, in order to access our free tests and discussion forum. We do not share your personal information with any third party. We do not collect information about our visitors from email databases, private/ public organization or bodies.</p>
                <p>We may use your information to contact you via email or telephone, typically to get feedback, to inform you about new products or provide support on your issues. If you do not want us to contact you via email, you can unsubscribe at any time.</p>
                <p>When you purchase our online products or register for a classroom training, you need to make the payment online, thus you will be required to share with us your personal information such as name, e-mail address, telephone number, address(s), credit card number, expiration, and CVV number.</p>
                <p>During this program, we store your contact information in our registration and order-entry systems. Your credit card information is never stored in our system as it is processed by our payment gateway which uses Secure Encryption Technology (SSL). Our payment processing partners are CCAvenue, PayPal, and Google Checkout</p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-lg-12">
                <h3>Cookie Information</h3>
                <p>In order to enhance your online experience and track website performance, our website uses cookies. It's a small text file which gets placed in your computer hard drive and can be retrieved later. Cookies do not tell us who you are.</p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-lg-12">
                <h3>E-commerce tracking</h3>
                <p>To provide superior online shopping experience, our shopping cart may use cookies to temporarily store names and email addresses. Cookies will never store credit card information as they're processed using payment gateways that use Secure Encryption Technology.</p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-lg-12">
                <h3>External Links</h3>
                <p>Our website may have links to other sites, which include third party websites or resources. We are not responsible for the privacy policies and information practices of third party websites. Please read the privacy policies of third party websites as every website has different terms of use and privacy policies.</p>
            </div>
        </div>
        <div class="continer">
            <div class="col-lg-12">
                <h3>Course Content</h3>
                <p>Course content for all the study programs both online and blended programs, is provided only for the purpose of education and guidance. The course content is reviewed regularly and is subject to change without notice. Simplilearn reserves the right to modify training content without notice.</p>
                <h3>Copyright and Intellectual Property</h3>
                <p>We value and respect others intellectual property and expect our users to do the same.</p>
                <p>The entire contents of the Site are protected by copyright and trademark laws. The owner of the copyrights
                    and trademarks are gvstechnosoft.com, its affiliates or other third party licensors. The material on
                    the site, including text, graphics, code and/or software is copyrighted and belongs to QuickLearn Systems;
                    therefore you may not duplicate, modify, publish or reproduce the content in any manner.</p>
                <p>QuickLearn Systems does not take any responsibility for the content on other sites (except our partners and
                    affiliates), that you may find when searching or accessing QuickLearn Systems products or services. The
                    privacy policy and terms of use of the sites that you visit will administer that material.</p>
                <p>QuickLearn Systems has all the rights to disable or prohibit access to the users who do not respect and involve
                    in the infringement of QuickLearn Systems intellectual property. You are not allowed to use any of the
                    digital images or logos from the website. In case of copyright issues, there has to be a written consent
                    from the trademark owner
                </p>
            </div>
        </div>
    </div>
</div><br>