<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">Our Services</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container">
    <div class="container">
        <div class="col-lg-8">
            <h2>Classroom Training</h2>
            <p>At Quicklearn System we believe learning is just not about gaining knowledge; it is also about attaining wisdom.
                Classroom Training is the best way to network with people along with finishing your course. The Trainees
                will get an opportunity to meet with the professionals and cross train the knowledge from them. Though, there
                is advancement in the modes of learning, yet, classroom training has its own charm.</p>
            <p>The Training groups are customized as per the requirement of the trainees. There is always a human-touch involved
                in classroom training unlike the online training courses. There is flexibility to interact with the group
                members. The trainees can clear their doubts instantly with the trainers. Quicklearn System ensures that
                trainees are more refined and productive after the course.</p>
            <p>Regardless of your location, accelerate your knowledge by attending a course in one of our classrooms training
                program. These highly reciprocated classes provide hands-on practical training using examples, so you can
                apply real-world scenarios to practice and refine your own skills.</p>
            <ul>
                <li>
                    <p>Training groups can be large or small</p>
                </li>
                <li>
                    <p>The classroom environment provides the important “human touch,” which is often missing in technology-based
                        training
                    </p>
                </li>
                <li>
                    <p>Group interaction enhances learning. Employees learn from one another as well as from the trainer</p>
                </li>
                <li>
                    <p>The group setting also teaches employees how to interact with one another in a professional, productive,
                        cooperative way</p>
                </li>
                <p>We have the team of vast and varied industry experience trainers having in-depth knowledge in their respective
                    knowledge areas.</p>
            </ul>
        </div>
        <div class="col-lg-4 text-center"><img src="../images/classroom_training.png" alt="Classroom Training"></div>
    </div>
    <div class="container">
        <div class="col-lg-4">
            <img src="../images/elearning.png" alt="eLearning" style="width:100%; margin-top:50%;">
        </div>
        <div class="col-lg-8">
            <h2>E-Learning Training</h2>
            <p>Quicklearn System provides you flexible eLearning that can be done in short chunks of time that can fit around
                your daily schedule. Trainees will have a set time of learning, normally divided into modules, with a deadline
                in which to do them in. This way, if you want to do all of the learning in one day as you work better this
                way, you can.</p>
            <p>Quicklearn System eLearning courses aren’t confined to be fixed to try and suit the needs of the majority. If
                you feel you already know a particular area well and don’t need to spend an hour on it again, then you can
                skim over it and concentrate that time on something you feel you need to work more at. Everyone is able to
                learn at their own pace.</p>
            <p>Quicklearn System eLearning’s focuses more on an Individual to suit their requirements. You can get directly
                in touch with the instructor via email to clarify your doubts. With clever design, user experience, and multimedia,
                eLearning’s can prove to be a richer and more effective learning experience than traditional methods and
                channels.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-6">
            <h2>Customized and Corporate Trainings</h2>
            <p>Quicklearn systems offer complete customized and corporate training solutions in order to address the business
                needs and learning objectives of our clients. We understand that your business and training goals are unique,
                and many organizations today want a more highly customized training program for improving the delivery of
                services. We emphasise on Employee Motivation, engagement and performance.</p>
            <p>With rich and diverse exposure across industry we have trained almost 2500 people across different, verticals
                like Information Technology, BPO, Telecom, Oil and Gas, Healthcare, Banking and Financial Services Industries.</p>
            <p>We build your training from the ground up. We’ll work together to identify and understand your training objectives
                and goals. From there, we’ll select the specific skills, strategies and the appropriate delivery style to
                accomplish the objectives, develop the content, incorporate your culture, design exercises and activities
                for active participation and provide follow-up post training activities.</p>
            <p>You’ll have an opportunity to discuss your training and development objectives with our hand-selected trainer
                who will incorporate your input into the training day. Unlike other training companies, the trainer facilitating
                your event will be an integral part of this process. Our trainers don’t just “show up and talk.” </p>
            <p>We would work with your Learning and Development team to understand what it takes for your training to be a successful.</p>
        </div>
        <div class="col-lg-6">
            <img src="../images/corporate_trainings.png" alt="Corporate trainings" style="width:100%;margin-top:10%;">
        </div>
        <div class="col-lg-12">
            <p><b>STEP 1</b>: Requirement gathering</p>
            <p>Getting started with discussing your specific training objectives and business goals with your organisation.
                Time frames and deadline, your organization’s culture, details about the participants, delivery style, and
                most importantly the training outcome you desire are all an integral part of this discussion.</p>
            <p><b>STEP 2</b>: Counselling the topics and content</p>
            <p>Based on your business needs and objectives, our team will guide you with appropriate training solution inclusive
                of training, certifying body, trainer of your choice and content.</p>
            <p><b>STEP 3</b>: Develop Custom Content </p>
            <p>Based on your organization requirements we will customize a program by developing customized content, examples,
                exercises and activities specifically for your organization.</p>
            <p><b>STEP 4</b>: Delivery and Assessment</p>
            <p>Our trainer will deliver an interactive day that is on target with your business goals and objectives. Depending
                on the delivery style identified as the best choice for your group, your training program is maximized for
                retention by including both traditional and experiential learning models. Incorporating small and large group
                activities, case studies, role-plays and interactive exercises presented by one of our skilled and dynamic
                trainers, you can count on a program that educates and inspires your participants while meeting your important
                business goals.</p>
            <p>At the end of the session the participant progress and knowledge gain is assessed and. This will ensure the training
                objectives are met.</p>
            <p><b>STEP 5</b>: Follow-Up</p>
            <p>Your Satisfaction is utmost priority for us. We conduct satisfaction and quality assessments at the close of
                each training day to ensure we meet your objectives. Should you feel something’s been missed, we’ll work
                until we’ve matched your expectations and needs.</p>
            <p><b>STEP 6</b>: Post Training Support and Activities</p>
            <p>After initial training, post training support is a critical element in maximizing your organization’s training
                investment. We offer a wide range of techniques which reinforce the new concepts and skills presented. We
                also offer you post activities and Validation techniques so that your trainees do are in touch with the subject.</p>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-8">
            <h2>Live Virtual training</h2>
            <p>At Quicklearn systems the most important aspects of a successful virtual training strategy is to consider audience
                and their primary objectives. The primary learning objectives will help you to select key pieces of information
                that should be included in your Virtual course plan, and will also help you to develop a virtual learning
                strategy that caters to their varied learning needs. </p>
            <p>At Quicklearn systems the focus is on user-friendly content delivery. We actively engage and thought-provoking
                questions to drive the discussion and make it an interactive session. This means that we should be delivering
                the key pieces of information, and then asking engaging questions that make the employee think and interact.
                This makes them feel as though they are active participants, rather than just attendees at a lecture.</p>
            <p>Drawing attention to important content and offer periodic recaps. It’s a proven fact that too much information
                at once can lead to cognitive overload. As such, we try to keep sessions as short as possible.</p>
            <p>This enables participants all across the world to attend Best in Class, Project Management, Program Management,
                Quality Management &amp; IT Service Management trainings irrespective of their geographical location &amp;
                also let them save on Travel related Costs.</p>
        </div>
        <div class="col-lg-4"><img src="../images/live_virtual_training.png" alt="Live virtual training" style="width:100%;margin-top:25%;"></div>
    </div>
    <div class="container">
        <div class="col-lg-12">
            <h2>Contact Us:</h2>
            <p>For More information regarding your Training requirement. Write to us at: <a href="mailto:info@quicklearnsys.com">info@quicklearnsys.com</a> or call us at +91 9100195152</p>
        </div>
    </div>
</div>