<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-md-12 text-center" style="padding-top:4%;">
            <h1 class="lead" style="font-size: 3em; margin-top: 2em;">Terms and Conditions</h1>
        </div>
    </div>
</div>
<div class="container-fluid content-container">
    <div class="container">
        <div class="col-lg-8">
            <h2>Terms of Use</h2>
            <h3>Please read the following carefully</h3>
            <p>These terms and conditions ("Terms and Conditions") control your use of this website gvstechnosoft.com ("Website").
                In these Terms and Conditions, "QuickLearn Systems" is referred to as the "Company", "us," or "we."</p>
            <p>'You' refers as user or a paying customer. If you are a company or another person who gives access to company
                products, you agree to take responsibility in full in case of damages or indemnification that could properly
                lie against the customer.</p>
            <p>The QuickLearn Systems web site (the 'Site'), the educational services made available through the site and the
                content (the 'Products') are owned, operated and maintained, as applicable, by QuickLearn Systems ('we',
                'our', 'us', or the 'Company'). The Site, Products and Content are, collectively, the 'Company Products'.</p>
            <p>By (a) using or accessing the Company Products, including, but not limited to downloading or accessing, (b) offering
                a Course through the Site or through Software; you agree to the terms and conditions set forth in these Terms
                of Use (the "Terms")</p>
            <p>By using this website or its Products and Services, You Agree and Warrant that you have read, Understood, and
                agree to be bound by these terms. Company's privacy policy can be found at privacy policy. If you do not
                accept these terms, you must not use - and are not authorized to use - all or any portion of the company's
                website and its products or services (as defined below).</p>
        </div>
        <div class="col-lg-4 text-center"><img src="../images/terms_main.png" alt="Terms And Conditions"></div>
    </div>
    <div class="container">
        <div class="col-lg-12">
            <h2>Please read them carefully before you use the services of this site.</h2>
            <ul>
                <li>
                    <p>You should not use this site in an unlawful manner; you must respect website terms and conditions and
                        follow the privacy policy.</p>
                </li>
                <li>
                    <p>Under no situations or circumstances, the company will be liable for any change in the content which
                        it provides on the website through its products and services, including but not limited to any errors,
                        omissions, loss or damage experienced in connection with the use of exposure, any content made available
                        via our products, services or various resources such as email, blog etc.</p>
                </li>
                <li>
                    <p>Our services are free to any user with access to the internet. However, we are not responsible for the
                        charges incurred for the usage of hardware, software or internet services provider fee. Also, the
                        user is fully responsible for the proper functioning of computer hardware and internet access</p>
                </li>
                <li>
                    <p>You will be required to use login credentials for some of the sections on the site and the company reserves
                        the right to block access to our services for any user who does not follow these conditions</p>
                </li>
                <li>
                    <p>We make sure that users get uninterrupted access to our service, but there is no obligation to do so.</p>
                </li>
                <li>
                    <p>QuickLearn Systems is not responsible and is not obligated for issues in your network or server beyond
                        certain limits.</p>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="col-lg-12">
                <h2>Website usage guidelines</h2>
                <ul>
                    <li>
                        <p>Do not Insult, abuse, harass, stalk, threaten or otherwise infringe the rights of others;</p>
                    </li>
                    <li>
                        <p>Do not publish post, distribute or disseminate any defamatory, infringing, indecent, offensive or
                            unlawful material or information.</p>
                    </li>
                    <li>
                        <p>Do not upload, install, transfer files which are protected by Intellectual Property laws or software
                            which affect other computers.</p>
                    </li>
                    <li>
                        <p>It's prohibited to edit HTML source code, reverse engineer or attempt to hack.</p>
                    </li>
                    <li>
                        <p>Do not run Spam services/scripts or anything which could affect infrastructure, and in turn, users.</p>
                    </li>
                    <li>
                        <p>Do not communicate spam, advertise or sell services such as digital downloads, eBooks or phishing
                            links.
                        </p>
                    </li>
                    <li>
                        <p>You may not copy, distribute and indulge in plagiarism with website content or user submitted content.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-12">
                <h2>The content</h2>
                <p>All website content or information that can be seen, heard or otherwise experienced on the Site is copyrighted
                    and belongs to QuickLearn Systems or its partners, affiliates or third parties. You may use the Site,
                    the Service and the Content for your own personal, non-commercial use only.</p>
                <p>You may download and print the available material for your own personal, non-commercial use only.</p>
                <p>You will not transfer any information from the website or produce derivative work which you can display,
                    distribute or transmit.</p>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-12">
                <h2>Links and Hyperlinks Terms</h2>
                <p>This website may have links to other websites. We do not undertake any control on the content of these websites;
                    nor are we responsible for their website content. The sole purpose of the links included is to provide
                    users information. Hence, QuickLearn Systems will not be held responsible.</p>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-12">
                <h2>Hyperlinks</h2>
                <ul>
                    <li>
                        <p>You may not mirror or frame the home page or any other pages of this Site on any other web site or
                            web page.
                        </p>
                    </li>
                    <li>
                        <p>Do not link to QuickLearn Systems pages and subpages with spam links/anchor text which could provide
                            false impression. This may create misunderstanding for the users.</p>
                    </li>
                    <li>
                        <p>Do not use or include copyrighted or registered trademarks, or Intellectual property images, design
                            or content as a link to QuickLearn Systems website.</p>
                    </li>
                    <li>
                        <p>Do not link to pages which support racism, terrorism.</p>
                    </li>
                    <li>
                        <p>Do not link to pages which provide pornographic content and violate human rights.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="continer">
            <div class="col-lg-12">
                <h2>Copyright and Intellectual Property</h2>
                <p>We value and respect others intellectual property and expect our users to do the same.</p>
                <p>The entire contents of the Site are protected by copyright and trademark laws. The owner of the copyrights
                    and trademarks are gvstechnosoft.com, its affiliates or other third party licensors. The material on
                    the site, including text, graphics, code and/or software is copyrighted and belongs to QuickLearn Systems;
                    therefore you may not duplicate, modify, publish or reproduce the content in any manner.</p>
                <p>QuickLearn Systems does not take any responsibility for the content on other sites (except our partners and
                    affiliates), that you may find when searching or accessing QuickLearn Systems products or services. The
                    privacy policy and terms of use of the sites that you visit will administer that material.</p>
                <p>QuickLearn Systems has all the rights to disable or prohibit access to the users who do not respect and involve
                    in the infringement of QuickLearn Systems intellectual property. You are not allowed to use any of the
                    digital images or logos from the website. In case of copyright issues, there has to be a written consent
                    from the trademark owner
                </p>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-12">
                <h2>Claims of Intellectual Property Violations</h2>
                <p>If you believe that your work has been used without your permission in a way which prompts for copyright
                    infringement. Please provide us the below information and we will act on it.</p>
                <ul>
                    <li>
                        <p>The authorized person who will act on behalf of the owner of the copyright, should send a digital
                            or physical signature</p>
                    </li>
                    <li>
                        <p>A description of the copyrighted work that you claim to be infringing your IP</p>
                    </li>
                    <li>
                        <p>A description of where and how the material that you claim is infringing is located on the QuickLearn
                            Systems website, with enough detail that we may find it on the website</p>
                    </li>
                    <li>
                        <p>Contact Details - Address, telephone number, and email address.</p>
                    </li>
                    <li>
                        <p>A statement by you, that the information which you provided is accurate and your claim of the copyright
                            or intellectual property is on your owner's behalf</p>
                    </li>
                    <li>
                        <p>You can reach QuickLearn Systems to notify your claims of copyright By email- <a class="link">support@quicklearnsys.com</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-12">
                <h2>Transaction Terms</h2>
                <p>If you believe that your work has been used without your permission in a way which prompts for copyright infringement. Please provide us the below information and we will act on it.</p>
                <ul>
                    <li>
                        <p>To make a transaction on QuickLearn Systems website, you are bound to pay for that transaction</p>
                    </li>
                    <li>
                        <p>Please pay close attention to your payment details such as total bill, taxes, shipping costs, discounts</p>
                    </li>
                    <li>
                        <p>There are certain products which require additional terms and conditions which you have to agree before you make the purchase</p>
                    </li>
                </ul>
                <p>WE MAKE NO WARRANTIES OF ANY KIND, EXPRESSED OR IMPLIED, WITH RESPECT TO ANY PRODUCTS OR SERVICES SOLD ON OR THROUGH QUICKLEARN SYSTEMS.</p>
                <p>No additional or different terms contained in any purchase order, document, transmission or other communication shall be binding upon QuickLearn Systems unless agreed to by QuickLearn Systems in writing.</p>
                <p>QuickLearn Systems reserves the right to modify, change without prior notice and in its sole discretion, to limit the order quantity on any item and to refuse service to anyone.</p>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-12">
                <h2>Pricing Disclaimer</h2>
                <p>All prices, products and offers of QuickLearn Systems website are subject to change without notice.</p>
                <p>While we make sure to provide most accurate and up-to-date information, in some cases one or more items on our web site may be priced incorrectly. This might happen due to human errors, digital images, technical error or a mismatch in pricing information received from our suppliers.</p>
                <p>QuickLearn Systems reserves the right to change prices for all our products, offers or deals. These changes are done due to market conditions, course termination, providers, price changes, errors in advertisements and other mitigating circumstances. However the price you paid at the time of purchase still holds for you.</p>
                <h2>Proprietary Use of QuickLearn Systems Study Material</h2>
                <p>QuickLearn Systems reserves the right to change prices for all our products, offers or deals. These changes are done due to market conditions, course termination, providers, price changes, errors in advertisements and other mitigating circumstances. However the price you paid at the time of purchase still holds for you.</p>
            </div>
        </div>
    </div>
</div>