.jumbotron_banner {
    width: 100% !important;
    height: 700px !important;
    background-image: url('../images/header_image.png') !important;
    background-size: 100% 100% !important;
    color: white !important;
    font-family: 'Raleway', sans-serif !important;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

.jumbotron_banner_h1 {
    font-family: 'Raleway', sans-serif;
}