body {
    background-image: url('../images/body-bg.png');
}
.main-container {
    padding: 0px;
}
.shadow-container{
    box-shadow: 0px -25px 40px 0px rgba(0, 0, 0, 0.12);
    padding-top:5%;
}
.scroller {
    white-space: pre-line;
    overflow-y: hidden;
    position: relative;
}
